In [1]:
import pandas as pd
import numpy as np
import pandasql as pdsql
import math

from datetime import timedelta, datetime
from dateutil.relativedelta import *

import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode, iplot
# initiate notebook for offline plot
init_notebook_mode(connected=True)

In [2]:
file_name = "../data/Client 1 - Data for UW team.xlsx"
xl_file = pd.ExcelFile(file_name)

dfs = {sheet_name: xl_file.parse(sheet_name) 
          for sheet_name in xl_file.sheet_names}

In [3]:
df = dfs['Sheet1']

In [10]:
df.Unit.isna().value_counts()

True    15312
Name: Unit, dtype: int64

In [20]:
df['Consumption'].apply(lambda x: str.split(x)[1])

IndexError: list index out of range

In [32]:
str.split(df.Consumption[0])[1]

'kWh'

In [21]:
df.Consumption

0        2,815.17 kWh
1        4,249.74 kWh
2        3,713.58 kWh
3        3,387.09 kWh
4        4,858.77 kWh
5        4,586.43 kWh
6        3,818.04 kWh
7        3,586.98 kWh
8        3,307.62 kWh
9        4,151.55 kWh
10       3,148.35 kWh
11       2,442.72 kWh
12       4,620.27 kWh
13       4,846.65 kWh
14       3,354.00 kWh
15       3,576.45 kWh
16       4,455.81 kWh
17       3,529.74 kWh
18       4,071.33 kWh
19       3,010.80 kWh
20       3,217.62 kWh
21       5,038.77 kWh
22       3,673.05 kWh
23       4,317.09 kWh
24       5,174.22 kWh
25       4,599.63 kWh
26       3,368.79 kWh
27       3,394.95 kWh
28       2,915.70 kWh
29       2,420.00 kWh
             ...
15282      341.00 kWh
15283      486.00 kWh
15284      722.00 kWh
15285       75.00 kWh
15286      921.00 kWh
15287    1,191.00 kWh
15288       80.00 kWh
15289       59.00 kWh
15290       54.00 kWh
15291       80.00 kWh
15292      156.00 kWh
15293      151.00 kWh
15294      172.00 kWh
15295      321.00 kWh
15296    1,051.00 kWh
15297      598.00 kWh
15298      440.00 kWh
15299      915.00 kWh
15300    1,544.00 kWh
15301      175.00 kWh
15302        0.00 kWh
15303    2,182.00 kWh
15304      153.00 kWh
15305      556.00 kWh
15306      218.00 kWh
15307        0.00 kWh
15308       21.00 kWh
15309        0.00 kWh
15310       17.00 kWh
15311       12.00 kWh
Name: Consumption, Length: 15312, dtype: object

'2,815.17\xa0kWh'

In [4]:
df.head()

,Building Code,Meter Number Account Code,Service From,Service To,Consumption,Unit,Currency,Current charges
0,Building_Code-B1,Account_ID-1000,2015-02-17,2015-03-17,"2,815.17 kWh",NaN,USD,450.43
1,Building_Code-B1,Account_ID-1000,2015-05-15,2015-06-16,"4,249.74 kWh",NaN,USD,276.23
2,Building_Code-B1,Account_ID-1000,2015-11-13,2015-12-15,"3,713.58 kWh",NaN,USD,215.39
3,Building_Code-B1,Account_ID-1000,2015-12-15,2016-01-15,"3,387.09 kWh",NaN,USD,230.32
4,Building_Code-B1,Account_ID-1000,2016-07-19,2016-08-17,"4,858.77 kWh",NaN,USD,398.42