In [2]:
import pandas as pd

### 1. Read in the data

In [3]:
df = pd.read_csv("NYC Open Data - Electric_Consumption_And_Cost__2010_-__June_2018_.csv")

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.shape

(313147, 27)

#### Check the number of empty values in each column

In [5]:
df.isnull().sum()

Development Name         146
Borough                  146
Account Name             146
Location                9041
Meter AMR                187
Meter Scope           296588
TDS #                   1717
EDP                      146
RC Code                  146
Funding Source           146
AMP #                   1657
Vendor Name              146
UMIS BILL ID             146
Revenue Month            146
Service Start Date       146
Service End Date         146
# days                   146
Meter Number             146
Estimated                146
Current Charges          146
Rate Class               146
Bill Analyzed            146
Consumption (KWH)        146
KWH Charges              146
Consumption (KW)         146
KW Charges               146
Other charges            146
dtype: int64

### 2. Remove empty rows

In [5]:
mask = (pd.isna(df['Account Name']) == True)
df.drop(mask[mask == True].index, axis = 0, inplace = True)

### 3. Remove rows where electricity charges were estimated

In [6]:
df.drop(df.loc[df['Estimated'] == 'Y         '].index, axis = 0, inplace = True)

#### Check data types of columns

In [7]:
df.dtypes

Development Name       object
Borough                object
Account Name           object
Location               object
Meter AMR              object
Meter Scope            object
TDS #                 float64
EDP                   float64
RC Code                object
Funding Source         object
AMP #                  object
Vendor Name            object
UMIS BILL ID          float64
Revenue Month          object
Service Start Date     object
Service End Date       object
# days                float64
Meter Number           object
Estimated              object
Current Charges        object
Rate Class             object
Bill Analyzed          object
Consumption (KWH)     float64
KWH Charges            object
Consumption (KW)       object
KW Charges             object
Other charges          object
dtype: object

### 4. Change the following fields from string to float

"Consumption (KW)", "Current Charges", "KWH Charges", "KW Charges", "Other charges"

In [8]:
df["Consumption (KW)"] = df["Consumption (KW)"].apply(lambda x: x.replace(",","") if type(x) == str else str(x))
df["Consumption (KW)"] = df["Consumption (KW)"].astype(float)

In [9]:
df["Current Charges"] = df["Current Charges"].apply(lambda x: x.replace("$","").replace(",","").replace("(","-").replace(")","") if type(x) == str else str(x))
df["Current Charges"] = df["Current Charges"].astype(float)

In [10]:
df["KWH Charges"] = df["KWH Charges"].apply(lambda x: x.replace("$","").replace(",","").replace("(","-").replace(")","") if type(x) == str else str(x))
df["KWH Charges"] = df["KWH Charges"].astype(float, inplace = True)

In [11]:
df["KW Charges"] = df["KW Charges"].apply(lambda x: x.replace("$","").replace(",","").replace("(","-").replace(")","") if type(x) == str else str(x))
df["KW Charges"] = df["KW Charges"].astype(float, inplace = True)

In [12]:
df["Other charges"] = df["Other charges"].apply(lambda x: x.replace("$","").replace(",","").replace("(","-").replace(")","") if type(x) == str else str(x))
df["Other charges"] = df["Other charges"].astype(float, inplace = True)

#### Summarize the numerical fields

More than 25% of the values for all except "Curent Charges" are 0

In [13]:
df[["Consumption (KWH)",  "Consumption (KW)", "Current Charges", "KWH Charges", "KW Charges", "Other charges"]].describe()

,Consumption (KWH),Consumption (KW),Current Charges,KWH Charges,KW Charges,Other charges
count,2.612520e+05,261252.000000,261252.000000,261252.000000,261252.000000,261252.000000
mean,3.256572e+04,68.239881,4510.758176,1673.941416,1084.801607,1672.128898
std,5.307171e+04,122.266314,6630.228947,2921.443192,1807.808563,3626.935491
min,0.000000e+00,0.000000,-243.150000,0.000000,0.000000,-59396.430000
25%,0.000000e+00,0.000000,384.342500,0.000000,0.000000,0.000000
50%,1.136000e+04,31.510000,2536.945000,555.020000,448.370000,896.510000
75%,4.816000e+04,98.500000,6052.357500,2359.892500,1601.422500,2636.255000
max,1.779600e+06,16135.460000,329800.370000,195575.860000,78782.960000,134224.510000

### 5. Convert Revenue Month and Two dates to datetime type

In [14]:
from datetime import datetime

In [15]:
df["Revenue Month"] = df["Revenue Month"].map(lambda x: datetime.strptime(x.split(" ")[0], '%m/%d/%Y'))
df['Service Start Date'] = df['Service Start Date'].map(lambda x: datetime.strptime(x, '%m/%d/%Y'))
df['Service End Date'] = df['Service End Date'].map(lambda x: datetime.strptime(x, '%m/%d/%Y'))

#### Check "Meter Scope": are the row with a range value represent a "Master Meter" (i.e. its value is the sum of other related rows)? - No

In [16]:
df['Meter Scope'].value_counts()

Community Center                                      3223
BLD 01                                                 621
BLD 02                                                 452
BLD 03                                                 433
BLD 04                                                 402
BLD 06                                                 274
BLD 07                                                 274
APT 01A - Management Office                            273
APT 01B - Management Office                            263
WEST BRIGHTON I ALL                                    200
WEST BRIGHTON II ALL                                   200
APT 02F - Management Office                            195
APT 02E - Management Office                            194
MORRISANIA ALL                                         194
APT 02H - Management Office                            194
APT 02G - Management Office                            193
BLD 05                                                 186
APT 01G - Management Office                            165
APT 02J - Management Office                            164
First Floor - Management Office                        133
BLD 1 - 9                                              112
BLD 1 - 14                                             109
BLD 4                                                  101
APT 01C - Maintenance Shop                             101
BLD 5-8                                                101
APT 02N - Management Office                            100
APT 02A - Management Office                            100
BLD 10                                                 100
APT 01B - Tenant Association Office                    100
BLD 20                                                 100
                                                      ...
APT 01C - Management Office                             94
APT 01D - Management Office                             94
APT 01E - Management Office                             94
MORRIS I BLD 5                                          94
APT 01A - Tenant Patrol Office                          92
APT 02R - Family Services Department                    90
BLD 01 to 07                                            90
BLD 1                                                   89
APT 02S - Family Services Department                    89
APT 02P - Family Services Department                    89
APT 01G - Tenant Association Office - Presidents O      85
BLD 2&3                                                 82
APT 01B - Superintendent Office                         81
APT 02D - Family Services Department                    81
VAN DYKE II ALL                                         80
APT 01A - Maintenance Shop                              75
VAN DYKE I ALL                                          75
APT 01D - Resident Association Office                   73
BLD 7-9                                                 71
APT 01K - Senior Center                                 68
APT 01E - Resident                                      68
APT 01H - Resident                                      54
BLD 03 - Community Center                               39
Exterior Compactors                                     30
Store#: 23-24                                           19
Store 21                                                16
Store 12&13                                             12
10-34 41ST Ave Sto                                      11
3A                                                       5
Store 22                                                 5
Name: Meter Scope, Length: 99, dtype: int64

In [17]:
df[(df['TDS #'] == 118) & (df["Revenue Month"] == '2010-02-01')][["Location", "Meter Scope", "Revenue Month", "Current Charges"]]

   Location   Meter Scope Revenue Month  Current Charges
1    BLD 05  BLD 01 to 07    2010-02-01         14556.34
13   BLD 06        BLD 06    2010-02-01         10948.54
25   BLD 07        BLD 07    2010-02-01         10403.82
37   BLD 01        BLD 01    2010-02-01          9422.06
49   BLD 02        BLD 02    2010-02-01          9710.06
61   BLD 03        BLD 03    2010-02-01          9286.81
73   BLD 04        BLD 04    2010-02-01         10133.33

In [18]:
df[(df['Meter Scope'] == 'Community Center')].groupby('Location').mean()

,TDS #,EDP,UMIS BILL ID,# days,Current Charges,Consumption (KWH),KWH Charges,Consumption (KW),KW Charges,Other charges
Location,,,,,,,,,,
BLD 01 - Community Center,219.172222,448.761111,3.703092e+06,30.455556,968.792556,5736.194444,313.216667,16.535889,216.624500,423.685889
BLD 02 - Community Center,179.483471,435.892562,3.678972e+06,30.342975,1786.717975,9327.508264,509.086653,33.722045,400.787686,833.356219
BLD 03 - Community Center,227.368078,345.739414,3.657077e+06,30.358306,3364.966645,22792.403909,1209.733257,55.999088,675.012866,1395.811466
BLD 04 - Community Center,164.564103,458.384615,3.592468e+06,30.318681,2934.512381,17003.956044,922.177802,50.013919,712.859634,1244.547033
BLD 05 - Community Center,111.000000,434.000000,3.727165e+06,30.351064,1359.712021,9234.893617,492.193723,22.808511,278.162553,559.105426
BLD 06 - Community Center,238.207447,457.611702,3.646114e+06,30.367021,3094.852234,17753.829787,954.731543,51.770213,775.852660,1326.571862
BLD 08,75.000000,226.000000,3.734546e+06,30.474747,2617.118889,12876.363636,641.169293,61.707071,574.925859,1249.793737
BLD 09 - Community Center,28.000000,523.000000,3.892687e+06,30.421687,4268.201084,23331.084337,1204.569036,76.356627,1077.436506,1889.236867
BLD 10 - Community Center,60.928571,392.952381,3.626191e+06,30.425926,4550.163545,26973.185185,1412.216614,82.048466,1018.374630,1992.630608
BLD 12 - Community Center,126.000000,440.000000,4.053056e+06,30.463415,4852.131341,22640.975610,1194.572927,88.926829,1296.006098,2238.667195
BLD 13 - Community Center,88.000000,234.000000,2.897605e+06,30.285714,1350.259796,8073.469388,470.809592,22.465306,272.885918,550.799592
BLD 15 - Community Center,44.000000,584.000000,3.702243e+06,30.416667,1580.647396,9593.750000,518.277917,23.879167,396.536979,643.811354
BLD 16 - Community Center,243.000000,353.000000,2.926861e+06,30.321429,3858.404107,17451.428571,994.812500,74.128571,949.653750,1815.163214
BLD 21 - Community Center,2.000000,200.000000,2.865459e+06,30.561404,4539.154561,23416.140351,1344.025439,83.003509,1044.292456,2067.585614
BLD 23 - Community Center,89.000000,235.000000,3.640108e+06,30.382979,2269.757234,14081.702128,752.744255,38.659574,505.571064,955.403298
BLD 25 - Community Center,92.000000,670.000000,3.630029e+06,30.438776,4674.129286,30216.326531,1597.667857,77.918367,1069.084490,1921.116939
BLD 31 - Community Center,67.000000,222.000000,3.858227e+06,30.377778,6516.316667,40022.222222,2111.066667,105.666667,1570.100333,2726.515222
BLD 39 - Community Center,514.000000,509.000000,2.890956e+06,30.250000,1594.283594,5899.375000,343.410469,30.512500,411.722656,805.222187
BLD 48 - Community Center,377.000000,650.000000,3.706621e+06,30.376289,1965.927887,10706.391753,567.904072,35.261856,472.568660,892.473711
BLD 51 - Community Center,303.000000,566.000000,3.944821e+06,30.233766,2001.323896,12703.896104,649.832987,34.727273,456.434156,848.863636

In [19]:
df[(df['Meter Scope'] == 'BLD 1 - 9')].groupby('Location').mean()

,TDS #,EDP,UMIS BILL ID,# days,Current Charges,Consumption (KWH),KWH Charges,Consumption (KW),KW Charges,Other charges
Location,,,,,,,,,,
BLD 02,55.0,525.0,3.781606e+06,27.008929,44982.836339,290678.571429,15647.757054,475.214286,4529.356607,22893.834732

### 6. Create an unique identifier for each building and remove unnecessary fields

In [20]:
# the combination of TDS# and Location uniquely determines a buildling
# Use EDP or RC Code when TDS# is not available
df['Building ID'] = df['TDS #'].combine_first(df['EDP']).map(str).combine_first(df['RC Code']) \
                    + " - " + df['Location'].map(lambda x: 'NA' if pd.isna(x) else x)

In [21]:
# Building ID alone is not the primary key of the data
df.groupby(['Building ID', 'Revenue Month']).count().shape[0]/df.shape[0]

0.6323396567299007

In [22]:
# the combination of Building ID, meter number and revenue month is still not a primary key
df.groupby(['Building ID', 'Meter Number', 'Revenue Month']).count().shape[0]/df.shape[0]

0.9987636458285487

In [23]:
# Define a list of columns of interest
cols = ['Account Name', 'Location', 'Building ID', 'Meter Number',
        'Revenue Month', 'Service Start Date', 'Service End Date', '# days', 
       'Current Charges','Consumption (KWH)', 'KWH Charges',
       'Consumption (KW)', 'KW Charges', 'Other charges']
df = df[cols]

#### In some cases multiple rows exists for one revenue month, with consecutive service start and end dates. We need to combined these rows for the same meter-month

In [24]:
df[(df['Building ID'] == '98.0 - BLD 15') & (df['Meter Number'] == 99277502) & (df['Revenue Month'] == '2013-03-01')][cols]

,Account Name,Location,Building ID,Meter Number,Revenue Month,Service Start Date,Service End Date,# days,Current Charges,Consumption (KWH),KWH Charges,Consumption (KW),KW Charges,Other charges
117025,OCEAN BAY APARTMENTS (BAYSIDE),BLD 15,98.0 - BLD 15,99277502,2013-03-01,2013-02-19,2013-03-18,27.0,62086.60,398400.0,40709.83,838.8,0.0,21376.77
117026,OCEAN BAY APARTMENTS (BAYSIDE),BLD 15,98.0 - BLD 15,99277502,2013-03-01,2013-03-18,2013-03-19,1.0,14.64,0.0,0.00,0.0,0.0,14.64
117027,OCEAN BAY APARTMENTS (BAYSIDE),BLD 15,98.0 - BLD 15,99277502,2013-03-01,2013-03-19,2013-03-26,7.0,103.84,0.0,0.00,1.2,0.0,103.84

In [25]:
df[(df['Building ID'] == '165.0 - BLD 01') & (df['Meter Number'] == '099800299') & (df['Revenue Month'] == '2016-06-01')][cols]

Empty DataFrame
Columns: [Account Name, Location, Building ID, Meter Number, Revenue Month, Service Start Date, Service End Date, # days, Current Charges, Consumption (KWH), KWH Charges, Consumption (KW), KW Charges, Other charges]
Index: []

In [26]:
# the combination of Building ID, meter number and revenue month is almost a primary key
df.groupby(['Building ID', 'Meter Number', 'Revenue Month', 'Service Start Date', 'Service End Date']).count().shape[0]/df.shape[0]

0.9994870852663329

### 7. There are duplicated rows in the dataset - remove duplicates in df

In [27]:
df = df.drop_duplicates()

### 8. Check which combinations of the 5 fields (Building ID, Meter, Month, StartDate, EndDate) has multiple rows and why

In [28]:
idx = df.groupby(['Building ID', 'Meter Number', 'Revenue Month', 'Service Start Date', 'Service End Date']).count()['Account Name'].reset_index()
idx.columns = ['Building ID', 'Meter Number', 'Revenue Month','Service Start Date', 'Service End Date', 'Counts']
idx = idx[idx['Counts'] > 1]

dupRows = idx.sort_values('Counts', ascending = False)

a = pd.merge(dupRows.iloc[:, 0:3], df[cols], on = \
         ['Building ID', 'Meter Number', 'Revenue Month'], how = 'inner')[cols]\
        .sort_values(['Building ID', 'Meter Number', 'Revenue Month'])

#### half of these problematic rows has zero values in the numerical fields like "current charges"

In [29]:
a

,Account Name,Location,Building ID,Meter Number,Revenue Month,Service Start Date,Service End Date,# days,Current Charges,Consumption (KWH),KWH Charges,Consumption (KW),KW Charges,Other charges
0,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-01-01,2012-12-24,2013-01-24,31.0,0.00,0.0,0.00,0.00,0.00,0.00
1,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-01-01,2012-12-24,2013-01-24,31.0,0.00,0.0,0.00,52.08,1105.73,-1105.73
36,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-02-01,2013-01-24,2013-02-25,32.0,0.00,0.0,0.00,0.00,0.00,0.00
37,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-02-01,2013-01-24,2013-02-25,32.0,0.00,0.0,0.00,52.94,1166.15,-1166.15
40,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-03-01,2013-02-25,2013-03-26,29.0,0.00,0.0,0.00,0.00,0.00,0.00
41,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-03-01,2013-02-25,2013-03-26,29.0,0.00,0.0,0.00,50.93,1169.81,-1169.81
42,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-04-01,2013-03-26,2013-04-24,29.0,0.00,0.0,0.00,0.00,0.00,0.00
43,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-04-01,2013-03-26,2013-04-24,29.0,0.00,0.0,0.00,51.46,1146.50,-1146.50
44,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-05-01,2013-04-24,2013-05-23,29.0,0.00,0.0,0.00,0.00,0.00,0.00
45,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-05-01,2013-04-24,2013-05-23,29.0,0.00,0.0,0.00,60.96,1235.82,-1235.82
46,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-06-01,2013-05-23,2013-06-24,32.0,0.00,0.0,0.00,0.00,0.00,0.00
47,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-06-01,2013-05-23,2013-06-24,32.0,2044.51,0.0,0.00,74.11,1301.37,743.14
48,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-07-01,2013-06-24,2013-07-24,30.0,0.00,0.0,0.00,0.00,0.00,0.00
49,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-07-01,2013-06-24,2013-07-24,30.0,2357.10,0.0,0.00,84.91,1491.02,866.08
50,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-08-01,2013-07-24,2013-08-22,29.0,0.00,0.0,0.00,0.00,0.00,0.00
51,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-08-01,2013-07-24,2013-08-22,29.0,1934.53,0.0,0.00,74.83,1314.01,620.52
38,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-09-01,2013-08-22,2013-09-23,32.0,0.00,0.0,0.00,0.00,0.00,0.00
39,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-09-01,2013-08-22,2013-09-23,32.0,2002.98,0.0,0.00,73.20,1285.39,717.59
52,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2012-12-01,2012-11-21,2012-12-24,33.0,0.00,0.0,0.00,0.00,0.00,0.00
53,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2012-12-01,2012-11-21,2012-12-24,33.0,0.00,0.0,0.00,54.43,1109.09,-1109.09
56,JACKSON,NaN,120.0 - NA,1125615,2011-04-01,2011-03-25,2011-04-25,31.0,0.00,0.0,0.00,0.00,0.00,0.00
57,JACKSON,NaN,120.0 - NA,1125615,2011-04-01,2011-03-25,2011-04-25,31.0,10991.81,0.0,0.00,930.72,10991.81,0.00
58,LOW HOUSES,BLD 04,169.0 - BLD 04,8078330,2010-03-01,2010-02-25,2010-03-26,29.0,0.00,0.0,0.00,0.00,0.00,0.00
59,LOW HOUSES,BLD 04,169.0 - BLD 04,8078330,2010-03-01,2010-02-25,2010-03-26,29.0,9580.19,78240.0,4487.85,144.00,1872.00,3220.34
60,LOW HOUSES,BLD 04,169.0 - BLD 04,8078330,2010-04-01,2010-03-26,2010-04-26,31.0,0.00,0.0,0.00,0.00,0.00,0.00
61,LOW HOUSES,BLD 04,169.0 - BLD 04,8078330,2010-04-01,2010-03-26,2010-04-26,31.0,9713.55,71040.0,4074.85,140.80,1830.40,3808.30
62,LOW HOUSES,BLD 04,169.0 - BLD 04,8078330,2010-05-01,2010-04-26,2010-05-24,28.0,0.00,0.0,0.00,0.00,0.00,0.00
63,LOW HOUSES,BLD 04,169.0 - BLD 04,8078330,2010-05-01,2010-04-26,2010-05-24,28.0,10549.09,80000.0,4588.80,158.40,2059.20,3901.09
64,LOW HOUSES,BLD 04,169.0 - BLD 04,8078330,2010-06-01,2010-05-24,2010-06-23,30.0,0.00,0.0,0.00,0.00,0.00,0.00
65,LOW HOUSES,BLD 04,169.0 - BLD 04,8078330,2010-06-01,2010-05-24,2010-06-23,30.0,13699.87,100160.0,5745.18,200.00,2600.00,5354.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,THROGGS NECK,BLD 11,63.0 - BLD 11,8125318,2011-12-01,2011-11-22,2011-12-23,31.0,0.00,0.0,0.00,0.00,0.00,0.00
5,THROGGS NECK,BLD 11,63.0 - BLD 11,8125318,2011-12-01,2011-11-22,2011-12-23,31.0,3929.78,38880.0,2592.52,0.00,0.00,1337.26
6,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-05-01,2011-04-25,2011-05-24,29.0,0.00,0.0,0.00,0.00,0.00,0.00
7,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-05-01,2011-04-25,2011-05-24,29.0,5560.13,56160.0,3256.72,0.00,0.00,2303.41
8,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-06-01,2011-05-24,2011-06-23,30.0,0.00,0.0,0.00,0.00,0.00,0.00
9,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-06-01,2011-05-24,2011-06-23,30.0,5848.38,58080.0,3368.06,0.00,0.00,2480.32
10,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-07-01,2011-06-23,2011-07-25,32.0,0.00,0.0,0.00,0.00,0.00,0.00
11,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-07-01,2011-06-23,2011-07-25,32.0,11341.38,84800.0,6566.91,0.00,0.00,4774.47
12,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-08-01,2011-07-25,2011-08-23,29.0,0.00,0.0,0.00,0.00,0.00,0.00
13,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-08-01,2011-07-25,2011-08-23,29.0,8664.19,69280.0,5365.04,0.00,0.00,3299.15
14,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-09-01,2011-08-23,2011-09-22,30.0,0.00,0.0,0.00,0.00,0.00,0.00
15,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-09-01,2011-08-23,2011-09-22,30.0,6260.92,54080.0,4187.96,0.00,0.00,2072.96
2,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-10-01,2011-09-22,2011-10-24,32.0,0.00,0.0,0.00,0.00,0.00,0.00
3,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-10-01,2011-09-22,2011-10-24,32.0,5840.61,57600.0,3840.77,0.00,0.00,1999.84
16,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-11-01,2011-10-24,2011-11-22,29.0,0.00,0.0,0.00,0.00,0.00,0.00
17,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-11-01,2011-10-24,2011-11-22,29.0,6886.51,64960.0,4331.53,0.00,0.00,2554.98
20,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-12-01,2011-11-22,2011-12-23,31.0,0.00,0.0,0.00,0.00,0.00,0.00
21,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-12-01,2011-11-22,2011-12-23,31.0,6355.59,62880.0,4192.84,0.00,0.00,2162.75
22,DOUGLASS I/DOUGLASS II,DOUGLASS I BLD 05,82.0 - DOUGLASS I BLD 05,1478392,2014-02-01,2014-01-24,2014-02-25,32.0,0.00,0.0,0.00,0.00,0.00,0.00
23,DOUGLASS I/DOUGLASS II,DOUGLASS I BLD 05,82.0 - DOUGLASS I BLD 05,1478392,2014-02-01,2014-01-24,2014-02-25,32.0,0.00,0.0,0.00,85.20,2049.47,-2049.47
24,DOUGLASS I/DOUGLASS II,DOUGLASS I BLD 06,82.0 - DOUGLASS I BLD 06,1478413,2014-02-01,2014-01-24,2014-02-25,32.0,0.00,0.0,0.00,0.00,0.00,0.00
25,DOUGLASS I/DOUGLASS II,DOUGLASS I BLD 06,82.0 - DOUGLASS I BLD 06,1478413,2014-02-01,2014-01-24,2014-02-25,32.0,0.00,0.0,0.00,133.20,3204.10,-3204.10
26,DOUGLASS I/DOUGLASS II,DOUGLASS I BLD 07,82.0 - DOUGLASS I BLD 07,1478415,2014-02-01,2014-01-24,2014-02-25,32.0,0.00,0.0,0.00,0.00,0.00,0.00
27,DOUGLASS I/DOUGLASS II,DOUGLASS I BLD 07,82.0 - DOUGLASS I BLD 07,1478415,2014-02-01,2014-01-24,2014-02-25,32.0,0.00,0.0,0.00,132.72,3192.56,-3192.56
28,DOUGLASS I/DOUGLASS II,DOUGLASS I BLD 08,82.0 - DOUGLASS I BLD 08,1478390,2014-02-01,2014-01-24,2014-02-25,32.0,0.00,0.0,0.00,0.00,0.00,0.00
29,DOUGLASS I/DOUGLASS II,DOUGLASS I BLD 08,82.0 - DOUGLASS I BLD 08,1478390,2014-02-01,2014-01-24,2014-02-25,32.0,0.00,0.0,0.00,79.32,1908.03,-1908.03
30,DOUGLASS I/DOUGLASS II,DOUGLASS I BLD 09,82.0 - DOUGLASS I BLD 09,1478416,2014-02-01,2014-01-24,2014-02-25,32.0,0.00,0.0,0.00,0.00,0.00,0.00
31,DOUGLASS I/DOUGLASS II,DOUGLASS I BLD 09,82.0 - DOUGLASS I BLD 09,1478416,2014-02-01,2014-01-24,2014-02-25,32.0,0.00,0.0,0.00,175.92,4231.73,-4231.73
68,DOUGLASS I/DOUGLASS II,DOUGLASS I BLD 12,82.0 - DOUGLASS I BLD 12,1322194,2014-02-01,2014-01-24,2014-02-25,32.0,0.00,0.0,0.00,0.00,0.00,0.00
69,DOUGLASS I/DOUGLASS II,DOUGLASS I BLD 12,82.0 - DOUGLASS I BLD 12,1322194,2014-02-01,2014-01-24,2014-02-25,32.0,0.00,0.0,0.00,134.64,3238.74,-3238.74

#### remove those rows from the dataset

In [30]:
df = df[~((df['Current Charges'] == 0) & (df['KWH Charges'] == 0) & (df['KW Charges'] == 0) \
  & (df['Other charges'] == 0) & (df['Consumption (KWH)'] == 0) & (df['Consumption (KW)'] == 0))]

In [31]:
idx = df.groupby(['Building ID', 'Meter Number', 'Revenue Month', 'Service Start Date', 'Service End Date']).count()['Account Name'].reset_index()
idx.columns = ['Building ID', 'Meter Number', 'Revenue Month','Service Start Date', 'Service End Date', 'Counts']
idx = idx[idx['Counts'] > 1]

dupRows = idx.sort_values('Counts', ascending = False)

a = pd.merge(dupRows.iloc[:, 0:3], df[cols], on = \
         ['Building ID', 'Meter Number', 'Revenue Month'], how = 'inner')[cols]\
        .sort_values(['Building ID', 'Meter Number', 'Revenue Month'])

#### Only one row left, seems a case of rebilling

In [32]:
a

,Account Name,Location,Building ID,Meter Number,Revenue Month,Service Start Date,Service End Date,# days,Current Charges,Consumption (KWH),KWH Charges,Consumption (KW),KW Charges,Other charges
0,THROGGS NECK,BLD 11,63.0 - BLD 11,8125318,2011-10-01,2011-09-22,2011-10-24,32.0,1306.02,12880.0,858.84,0.0,0.0,447.18
1,THROGGS NECK,BLD 11,63.0 - BLD 11,8125318,2011-10-01,2011-09-22,2011-10-24,32.0,2693.18,26560.0,1771.02,0.0,0.0,922.16

### 9. Combine the rows of same Building, Meter and Month

In [33]:
import numpy as np

In [34]:
dfCharges = pd.pivot_table(df, values = ['# days', 'Current Charges','Consumption (KWH)', 'KWH Charges',\
       'Consumption (KW)', 'KW Charges', 'Other charges'], index=['Account Name', 'Location', 'Building ID', 'Meter Number',
       'Revenue Month'], aggfunc = np.sum).reset_index()

dfStartDate = pd.pivot_table(df, values = ['Service Start Date'], index=['Account Name', 'Location', 'Building ID', 'Meter Number',
       'Revenue Month'], aggfunc = np.min).reset_index()

dfEndDate = pd.pivot_table(df, values = ['Service End Date'], index=['Account Name', 'Location', 'Building ID', 'Meter Number',
       'Revenue Month'], aggfunc = np.max).reset_index()

In [35]:
df_combined = pd.merge(dfStartDate, dfEndDate, on = ['Account Name', 'Location', 'Building ID', 'Meter Number',
       'Revenue Month'], how = 'inner')

df_combined = pd.merge(df_combined, dfCharges, on = ['Account Name', 'Location', 'Building ID', 'Meter Number',
       'Revenue Month'], how = 'inner')

In [36]:
df_combined.head()

,Account Name,Location,Building ID,Meter Number,Revenue Month,Service Start Date,Service End Date,# days,Consumption (KW),Consumption (KWH),Current Charges,KW Charges,KWH Charges,Other charges
0,ADAMS,BLD 01,118.0 - BLD 01,7518352,2010-01-01,2009-12-24,2010-01-26,33.0,148.0,84000.0,10314.51,1924.0,4818.24,3572.27
1,ADAMS,BLD 01,118.0 - BLD 01,7518352,2010-02-01,2010-01-26,2010-02-25,30.0,144.0,75200.0,9422.06,1872.0,4313.47,3236.59
2,ADAMS,BLD 01,118.0 - BLD 01,7518352,2010-03-01,2010-02-25,2010-03-26,29.0,136.0,68800.0,8988.12,1768.0,3946.37,3273.75
3,ADAMS,BLD 01,118.0 - BLD 01,7518352,2010-04-01,2010-03-26,2010-04-26,31.0,124.0,68400.0,9146.17,1612.0,3923.42,3610.75
4,ADAMS,BLD 01,118.0 - BLD 01,7518352,2010-05-01,2010-04-26,2010-05-24,28.0,144.0,64800.0,9137.42,1872.0,3716.93,3548.49

### 10. save a copy of the original dataframe

In [37]:
df_orig = df
df = df_combined

### 11. Add new metrics

In [38]:
df['Total Charges'] = df['KW Charges'] + df['KWH Charges']

In [39]:
df['Total Energy Rate'] = df['Total Charges']/df['Consumption (KWH)']

In [40]:
df['Total Charge Match'] = (df['Current Charges'] == df['KWH Charges'] + df['KW Charges'] + df['Other charges'])

In [41]:
df.head()

,Account Name,Location,Building ID,Meter Number,Revenue Month,Service Start Date,Service End Date,# days,Consumption (KW),Consumption (KWH),Current Charges,KW Charges,KWH Charges,Other charges,Total Charges,Total Energy Rate,Total Charge Match
0,ADAMS,BLD 01,118.0 - BLD 01,7518352,2010-01-01,2009-12-24,2010-01-26,33.0,148.0,84000.0,10314.51,1924.0,4818.24,3572.27,6742.24,0.080265,True
1,ADAMS,BLD 01,118.0 - BLD 01,7518352,2010-02-01,2010-01-26,2010-02-25,30.0,144.0,75200.0,9422.06,1872.0,4313.47,3236.59,6185.47,0.082254,False
2,ADAMS,BLD 01,118.0 - BLD 01,7518352,2010-03-01,2010-02-25,2010-03-26,29.0,136.0,68800.0,8988.12,1768.0,3946.37,3273.75,5714.37,0.083058,False
3,ADAMS,BLD 01,118.0 - BLD 01,7518352,2010-04-01,2010-03-26,2010-04-26,31.0,124.0,68400.0,9146.17,1612.0,3923.42,3610.75,5535.42,0.080927,True
4,ADAMS,BLD 01,118.0 - BLD 01,7518352,2010-05-01,2010-04-26,2010-05-24,28.0,144.0,64800.0,9137.42,1872.0,3716.93,3548.49,5588.93,0.086249,True

### 12. Save the cleaned data to the output folder

In [47]:
df.to_csv('../output/NYCHA_Electricity_2010_to_2018_Cleaned.csv')

### 13. Investigate the zero values in the fields of charges and consumption (Incomplete)

#### check how much % of rows have zero values in each numeric field

In [48]:
df[(df['KWH Charges'] == 0) ].shape[0]\
    /df.shape[0]

0.3268528710691575

In [49]:
df[(df['Consumption (KWH)'] == 0)  ].shape[0]\
    /df.shape[0]

0.3244731819729642

In [50]:
df[(df['KW Charges'] == 0) ].shape[0]\
    /df.shape[0]

0.41077155776586394

In [51]:
df[ (df['Consumption (KW)'] == 0) ].shape[0]\
    /df.shape[0]

0.3702495307934145

In [52]:
df[ (df['Current Charges'] == 0) ].shape[0]\
    /df.shape[0]

0.16495878109236045

In [53]:
df[ (df['Other charges'] == 0) ].shape[0]\
    /df.shape[0]

0.11739667556245396

#### check the correlation of numerical fields having zero values

In [54]:
df['KWH_Charge_0'] = df['KWH Charges'] == 0
df['KWH_0'] = df['Consumption (KWH)'] == 0
df['KW_Charge_0'] = df['KW Charges'] == 0
df['KW_0'] = df['Consumption (KW)'] == 0
df['Other_Charge_0'] = df['Other charges'] == 0

In [55]:
df[(df['KWH Charges'] == 0) | (df['Consumption (KWH)'] == 0) \
   | (df['KW Charges'] == 0) | (df['Consumption (KW)'] == 0) ].shape[0]\
    /df.shape[0]

0.7342825692723141

In [56]:
df[((df['KWH Charges'] == 0) ^ (df['Consumption (KWH)'] == 0)) \
   | ((df['KW Charges'] == 0) ^ (df['Consumption (KW)'] == 0)) ].shape[0]\
    /df.shape[0]

0.045190335532203016

In [57]:
df[((df['KWH Charges'] == 0) & (df['Consumption (KWH)'] == 0)) ]\
.groupby(['KWH_Charge_0', 'KWH_0', 'KW_Charge_0', 'KW_0']).agg(['count'])

                                     Account Name Location Building ID  \
                                            count    count       count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
True         True  False       False        81375    81375       81375
                               True            12       12          12
                   True        False          103      103         103
                               True           447      447         447

                                     Meter Number Revenue Month  \
                                            count         count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
True         True  False       False        81375         81375
                               True            12            12
                   True        False          103           103
                               True           447           447

                                     Service Start Date Service End Date  \
                                                  count            count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
True         True  False       False              81375            81375
                               True                  12               12
                   True        False                103              103
                               True                 447              447

                                     # days Consumption (KW)  \
                                      count            count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
True         True  False       False  81375            81375
                               True      12               12
                   True        False    103              103
                               True     447              447

                                     Consumption (KWH) Current Charges  \
                                                 count           count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
True         True  False       False             81375           81375
                               True                 12              12
                   True        False               103             103
                               True                447             447

                                     KW Charges KWH Charges Other charges  \
                                          count       count         count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
True         True  False       False      81375       81375         81375
                               True          12          12            12
                   True        False        103         103           103
                               True         447         447           447

                                     Total Charges Total Energy Rate  \
                                             count             count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
True         True  False       False         81375             81375
                               True             12                12
                   True        False           103                 0
                               True            447                 0

                                     Total Charge Match Other_Charge_0
                                                  count          count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
True         True  False       False              81375          81375
                               True                  12             12
                   True        False                103            103
                               True                 447            447

In [58]:
df[((df['KWH Charges'] == 0) ^ (df['Consumption (KWH)'] == 0)) ]\
.groupby(['KWH_Charge_0', 'KWH_0', 'KW_Charge_0', 'KW_0']).agg(['count'])

                                     Account Name Location Building ID  \
                                            count    count       count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
False        True  False       True             7        7           7
                   True        True             3        3           3
True         False False       False           17       17          17
                   True        False           59       59          59
                               True           535      535         535

                                     Meter Number Revenue Month  \
                                            count         count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
False        True  False       True             7             7
                   True        True             3             3
True         False False       False           17            17
                   True        False           59            59
                               True           535           535

                                     Service Start Date Service End Date  \
                                                  count            count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
False        True  False       True                   7                7
                   True        True                   3                3
True         False False       False                 17               17
                   True        False                 59               59
                               True                 535              535

                                     # days Consumption (KW)  \
                                      count            count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
False        True  False       True       7                7
                   True        True       3                3
True         False False       False     17               17
                   True        False     59               59
                               True     535              535

                                     Consumption (KWH) Current Charges  \
                                                 count           count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
False        True  False       True                  7               7
                   True        True                  3               3
True         False False       False                17              17
                   True        False                59              59
                               True                535             535

                                     KW Charges KWH Charges Other charges  \
                                          count       count         count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
False        True  False       True           7           7             7
                   True        True           3           3             3
True         False False       False         17          17            17
                   True        False         59          59            59
                               True         535         535           535

                                     Total Charges Total Energy Rate  \
                                             count             count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
False        True  False       True              7                 7
                   True        True              3                 3
True         False False       False            17                17
                   True        False            59                59
                               True            535               535

                                     Total Charge Match Other_Charge_0
                                                  count          count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
False        True  False       True                   7              7
                   True        True                   3              3
True         False False       False                 17             17
                   True        False                 59             59
                               True                 535            535

In [59]:
df[((df['KW Charges'] == 0) & (df['Consumption (KW)'] == 0))]\
.groupby(['KW_Charge_0', 'KW_0', 'KWH_Charge_0', 'KWH_0']).agg(['count'])

                                    Account Name Location Building ID  \
                                           count    count       count
KW_Charge_0 KW_0 KWH_Charge_0 KWH_0
True        True False        False        92211    92211       92211
                              True             3        3           3
                 True         False          535      535         535
                              True           447      447         447

                                    Meter Number Revenue Month  \
                                           count         count
KW_Charge_0 KW_0 KWH_Charge_0 KWH_0
True        True False        False        92211         92211
                              True             3             3
                 True         False          535           535
                              True           447           447

                                    Service Start Date Service End Date  \
                                                 count            count
KW_Charge_0 KW_0 KWH_Charge_0 KWH_0
True        True False        False              92211            92211
                              True                   3                3
                 True         False                535              535
                              True                 447              447

                                    # days Consumption (KW) Consumption (KWH)  \
                                     count            count             count
KW_Charge_0 KW_0 KWH_Charge_0 KWH_0
True        True False        False  92211            92211             92211
                              True       3                3                 3
                 True         False    535              535               535
                              True     447              447               447

                                    Current Charges KW Charges KWH Charges  \
                                              count      count       count
KW_Charge_0 KW_0 KWH_Charge_0 KWH_0
True        True False        False           92211      92211       92211
                              True                3          3           3
                 True         False             535        535         535
                              True              447        447         447

                                    Other charges Total Charges  \
                                            count         count
KW_Charge_0 KW_0 KWH_Charge_0 KWH_0
True        True False        False         92211         92211
                              True              3             3
                 True         False           535           535
                              True            447           447

                                    Total Energy Rate Total Charge Match  \
                                                count              count
KW_Charge_0 KW_0 KWH_Charge_0 KWH_0
True        True False        False             92211              92211
                              True                  3                  3
                 True         False               535                535
                              True                  0                447

                                    Other_Charge_0
                                             count
KW_Charge_0 KW_0 KWH_Charge_0 KWH_0
True        True False        False          92211
                              True               3
                 True         False            535
                              True             447

In [60]:
df[((df['KW Charges'] == 0) ^ (df['Consumption (KW)'] == 0))]\
.groupby(['KW_Charge_0', 'KW_0', 'KWH_Charge_0', 'KWH_0']).agg(['count'])

                                     Account Name Location Building ID  \
                                            count    count       count
KW_Charge_0 KW_0  KWH_Charge_0 KWH_0
False       True  False        False          293      293         293
                               True             7        7           7
                  True         True            12       12          12
True        False False        False        10384    10384       10384
                  True         False           59       59          59
                               True           103      103         103

                                     Meter Number Revenue Month  \
                                            count         count
KW_Charge_0 KW_0  KWH_Charge_0 KWH_0
False       True  False        False          293           293
                               True             7             7
                  True         True            12            12
True        False False        False        10384         10384
                  True         False           59            59
                               True           103           103

                                     Service Start Date Service End Date  \
                                                  count            count
KW_Charge_0 KW_0  KWH_Charge_0 KWH_0
False       True  False        False                293              293
                               True                   7                7
                  True         True                  12               12
True        False False        False              10384            10384
                  True         False                 59               59
                               True                 103              103

                                     # days Consumption (KW)  \
                                      count            count
KW_Charge_0 KW_0  KWH_Charge_0 KWH_0
False       True  False        False    293              293
                               True       7                7
                  True         True      12               12
True        False False        False  10384            10384
                  True         False     59               59
                               True     103              103

                                     Consumption (KWH) Current Charges  \
                                                 count           count
KW_Charge_0 KW_0  KWH_Charge_0 KWH_0
False       True  False        False               293             293
                               True                  7               7
                  True         True                 12              12
True        False False        False             10384           10384
                  True         False                59              59
                               True                103             103

                                     KW Charges KWH Charges Other charges  \
                                          count       count         count
KW_Charge_0 KW_0  KWH_Charge_0 KWH_0
False       True  False        False        293         293           293
                               True           7           7             7
                  True         True          12          12            12
True        False False        False      10384       10384         10384
                  True         False         59          59            59
                               True         103         103           103

                                     Total Charges Total Energy Rate  \
                                             count             count
KW_Charge_0 KW_0  KWH_Charge_0 KWH_0
False       True  False        False           293               293
                               True              7                 7
                  True         True             12                12
True        False False        False         10384             10384
                  True         False            59                59
                               True            103                 0

                                     Total Charge Match Other_Charge_0
                                                  count          count
KW_Charge_0 KW_0  KWH_Charge_0 KWH_0
False       True  False        False                293            293
                               True                   7              7
                  True         True                  12             12
True        False False        False              10384          10384
                  True         False                 59             59
                               True                 103            103

## Q&A with Linnea:

1. why would "Consumption (KW)" be zero?
    KW and KWH should be both positive, unless there are some related bills that already covers it
2. What's the "Other Charges"?
    - negative values to adjust for the payments from previous month
    - taxes, fee for meter-reading, little fees charged by utilities and states (e.g. system benefit charge), credit (state got a better deal after charging the clients)

## To Do:

1. investigate the zero values in the fields of charges and consumption
    - current charges = 0 and other charges != 0
    - current charges == other charges and current charges != 0
2. investigate why (Current Charge) != (KWH charges) + (KW charges) + (Other Charges)
3. check if for the same building, meter number varies across different months
4. check rebills (can probably detected by variance-checking)
5. check gaps in service and whether the union of all the billing window is one-year for each meter
    - start, end dates are useful when there is not a complete month reported (1-3 day gap is okay , 5 days is not)
6. anomaly detection of charges & consumptions at the meter level and building level

**Issue- 2 - Checking for cases where current charge is not equal to the sum of KWH, kW and Other charges**

In [3]:
import pandas as pd
clean_df = pd.read_csv("NYCHA_Electricity_2010_to_2018_Cleaned.csv", index_col=False)

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
# create a new column that aggregates all charge values
clean_df["sum_all_charges"] = clean_df.apply(lambda x: x['KW Charges'] + x['KWH Charges'] + x['Other charges'], axis=1)

In [5]:
# check if the current charges are equal to the sum of all charges column
clean_df["check_current_charge"] = clean_df.apply(lambda x: round(x['Current Charges']) == round(x['sum_all_charges']), axis=1)

In [6]:
# the number of rows with mismatching values
clean_df['check_current_charge'].value_counts()

True     217503
False     35051
Name: check_current_charge, dtype: int64

In [7]:
# percentage of rows with mismatching values in the clean data
(len(clean_df[(clean_df.check_current_charge == False)])/len(clean_df['check_current_charge']))*100

13.878616058347918

In [8]:
clean_df[(clean_df.check_current_charge == False)]

,Account Name,Location,Building ID,Meter Number,Revenue Month,Service Start Date,Service End Date,# days,Consumption (KW),Consumption (KWH),Current Charges,KW Charges,KWH Charges,Other charges,Total Charges,Total Energy Rate,Total Charge Match,sum_all_charges,check_current_charge
55,ADAMS,BLD 01,118.0 - BLD 01,7518352,1/1/15,12/24/14,1/26/15,33,124.00,70000,9150.28,2163.84,3616.90,2163.84,5780.74,0.082582,False,7944.58,False
56,ADAMS,BLD 01,118.0 - BLD 01,7518352,2/1/15,1/26/15,2/25/15,30,124.00,63200,8467.79,2163.84,3265.54,2163.84,5429.38,0.085908,False,7593.22,False
57,ADAMS,BLD 01,118.0 - BLD 01,7518352,3/1/15,2/25/15,3/26/15,29,108.00,58400,8166.43,2184.54,2383.30,2184.54,4567.84,0.078216,False,6752.38,False
58,ADAMS,BLD 01,118.0 - BLD 01,7518352,4/1/15,3/26/15,4/24/15,29,116.00,59600,10567.75,2184.54,2432.28,2184.54,4616.82,0.077463,False,6801.36,False
59,ADAMS,BLD 01,118.0 - BLD 01,7518352,5/1/15,4/24/15,5/26/15,32,136.00,66000,8350.19,2184.54,2693.46,2184.54,4878.00,0.073909,False,7062.54,False
60,ADAMS,BLD 01,118.0 - BLD 01,7518352,6/1/15,5/26/15,6/24/15,29,176.00,76800,9798.17,2786.08,3524.35,2786.08,6310.43,0.082167,False,9096.51,False
61,ADAMS,BLD 01,118.0 - BLD 01,7518352,8/1/15,7/24/15,8/24/15,31,188.00,105200,11710.61,2976.04,4827.63,2976.04,7803.67,0.074179,False,10779.71,False
62,ADAMS,BLD 01,118.0 - BLD 01,7518352,9/1/15,8/24/15,9/23/15,30,196.00,96400,11264.13,3102.68,4423.80,3102.68,7526.48,0.078076,False,10629.16,False
63,ADAMS,BLD 01,118.0 - BLD 01,7518352,10/1/15,9/23/15,10/23/15,30,144.00,68400,8027.30,2327.01,2791.40,2327.01,5118.41,0.074831,False,7445.42,False
64,ADAMS,BLD 01,118.0 - BLD 01,7518352,11/1/15,10/23/15,11/23/15,31,140.00,73200,7601.60,2327.01,2987.29,2327.01,5314.30,0.072600,False,7641.31,False
145,ADAMS,BLD 02,118.0 - BLD 02,7725456,1/1/15,12/24/14,1/26/15,33,136.00,75200,10127.41,2540.16,3885.58,2540.16,6425.74,0.085449,False,8965.90,False
146,ADAMS,BLD 02,118.0 - BLD 02,7725456,2/1/15,1/26/15,2/25/15,30,136.00,61600,9041.40,2540.16,3182.87,2540.16,5723.03,0.092906,False,8263.19,False
147,ADAMS,BLD 02,118.0 - BLD 02,7725456,3/1/15,2/25/15,3/26/15,29,120.00,62400,9055.56,2564.46,2546.54,2564.46,5111.00,0.081907,False,7675.46,False
148,ADAMS,BLD 02,118.0 - BLD 02,7725456,4/1/15,3/26/15,4/24/15,29,136.00,66400,12057.23,2564.46,2709.78,2564.46,5274.24,0.079431,False,7838.70,False
149,ADAMS,BLD 02,118.0 - BLD 02,7725456,5/1/15,4/24/15,5/26/15,32,144.00,72000,9187.83,2564.46,2938.32,2564.46,5502.78,0.076427,False,8067.24,False
150,ADAMS,BLD 02,118.0 - BLD 02,7725456,6/1/15,5/26/15,6/24/15,29,200.00,84800,11038.48,3166.00,3891.47,3166.00,7057.47,0.083225,False,10223.47,False
151,ADAMS,BLD 02,118.0 - BLD 02,7725456,7/1/15,6/24/15,7/24/15,30,208.00,106400,13443.88,3292.64,4882.70,3292.64,8175.34,0.076836,False,11467.98,False
152,ADAMS,BLD 02,118.0 - BLD 02,7725456,8/1/15,7/24/15,8/24/15,31,216.00,113600,13174.31,3419.28,5213.10,3419.28,8632.38,0.075989,False,12051.66,False
153,ADAMS,BLD 02,118.0 - BLD 02,7725456,9/1/15,8/24/15,9/23/15,30,208.00,102400,11968.31,3292.64,4699.14,3292.64,7991.78,0.078045,False,11284.42,False
154,ADAMS,BLD 02,118.0 - BLD 02,7725456,10/1/15,9/23/15,10/23/15,30,152.00,72000,8586.34,2564.46,2938.32,2564.46,5502.78,0.076427,False,8067.24,False
155,ADAMS,BLD 02,118.0 - BLD 02,7725456,11/1/15,10/23/15,11/23/15,31,136.00,74400,7791.80,2564.46,3036.26,2564.46,5600.72,0.075278,False,8165.18,False
238,ADAMS,BLD 03,118.0 - BLD 03,7725454,1/1/15,12/24/14,1/26/15,33,120.00,71200,9212.00,2446.08,3678.90,2446.08,6124.98,0.086025,False,8571.06,False
239,ADAMS,BLD 03,118.0 - BLD 03,7725454,2/1/15,1/26/15,2/25/15,30,120.00,64000,8667.37,2446.08,3306.88,2446.08,5752.96,0.089890,False,8199.04,False
240,ADAMS,BLD 03,118.0 - BLD 03,7725454,3/1/15,2/25/15,3/26/15,29,120.00,62400,8960.29,2469.48,2546.54,2469.48,5016.02,0.080385,False,7485.50,False
241,ADAMS,BLD 03,118.0 - BLD 03,7725454,4/1/15,3/26/15,4/24/15,29,136.00,65600,11885.84,2469.48,2677.14,2469.48,5146.62,0.078455,False,7616.10,False
242,ADAMS,BLD 03,118.0 - BLD 03,7725454,5/1/15,4/24/15,5/26/15,32,136.00,69600,8796.36,2469.48,2840.38,2469.48,5309.86,0.076291,False,7779.34,False
243,ADAMS,BLD 03,118.0 - BLD 03,7725454,6/1/15,5/26/15,6/24/15,29,192.00,80000,10545.06,3039.36,3671.20,3039.36,6710.56,0.083882,False,9749.92,False
244,ADAMS,BLD 03,118.0 - BLD 03,7725454,7/1/15,6/24/15,7/24/15,30,208.00,100800,13153.64,3292.64,4625.71,3292.64,7918.35,0.078555,False,11210.99,False
245,ADAMS,BLD 03,118.0 - BLD 03,7725454,8/1/15,7/24/15,8/24/15,31,200.00,108800,12351.08,3166.00,4992.83,3166.00,8158.83,0.074989,False,11324.83,False
246,ADAMS,BLD 03,118.0 - BLD 03,7725454,9/1/15,8/24/15,9/23/15,30,208.00,96800,11762.78,3292.64,4442.15,3292.64,7734.79,0.079905,False,11027.43,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252314,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,1096667,7/1/15,6/24/15,7/24/15,30,289.20,0,7645.45,4578.04,0.00,4578.04,4578.04,inf,False,9156.08,False
252315,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,1096667,8/1/15,7/24/15,8/24/15,31,269.76,0,6412.27,4270.30,0.00,4270.30,4270.30,inf,False,8540.60,False
252316,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,1096667,9/1/15,8/24/15,9/23/15,30,288.96,0,6839.91,4574.24,0.00,4574.24,4574.24,inf,False,9148.48,False
252317,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,1096667,10/1/15,9/23/15,10/23/15,30,206.04,0,0.00,3477.69,0.00,3477.69,3477.69,inf,False,6955.38,False
252318,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,1096667,11/1/15,10/23/15,11/23/15,31,183.48,0,0.00,3511.34,0.00,3511.34,3511.34,inf,False,7022.68,False
252319,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,1096667,12/1/15,11/23/15,12/24/15,31,169.56,0,0.00,3229.61,0.00,3229.61,3229.61,inf,False,6459.22,False
252410,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,8096664,1/1/15,12/24/14,1/26/15,33,0.00,121200,15765.00,0.00,6262.41,0.00,6262.41,0.051670,False,6262.41,False
252411,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,8096664,2/1/15,1/26/15,2/25/15,30,0.00,110400,14665.80,0.00,5704.37,0.00,5704.37,0.051670,False,5704.37,False
252412,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,8096664,3/1/15,2/25/15,3/26/15,29,0.00,102800,14789.88,0.00,4195.27,0.00,4195.27,0.040810,False,4195.27,False
252413,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,8096664,4/1/15,3/26/15,4/24/15,29,0.00,100000,17916.09,0.00,4081.00,0.00,4081.00,0.040810,False,4081.00,False
252414,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,8096664,5/1/15,4/24/15,5/26/15,32,0.00,109200,13676.93,0.00,4456.45,0.00,4456.45,0.040810,False,4456.45,False
252415,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,8096664,6/1/15,5/26/15,6/24/15,29,0.00,123200,8853.06,0.00,5653.65,0.00,5653.65,0.045890,False,5653.65,False
252416,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,8096664,7/1/15,6/24/15,7/24/15,30,0.00,153600,11771.52,0.00,7048.70,0.00,7048.70,0.045890,False,7048.70,False
252417,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,8096664,8/1/15,7/24/15,8/24/15,31,0.00,180400,12431.06,0.00,8278.56,0.00,8278.56,0.045890,False,8278.56,False
252418,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,8096664,9/1/15,8/24/15,9/23/15,30,0.00,159200,10924.27,0.00,7305.69,0.00,7305.69,0.045890,False,7305.69,False
252419,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,8096664,10/1/15,9/23/15,10/23/15,30,0.00,116400,13650.42,0.00,4750.28,0.00,4750.28,0.040810,False,4750.28,False
252420,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,8096664,11/1/15,10/23/15,11/23/15,31,0.00,113600,12233.43,0.00,4636.02,0.00,4636.02,0.040810,False,4636.02,False
252421,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,8096664,12/1/15,11/23/15,12/24/15,31,0.00,121200,13800.75,0.00,4946.17,0.00,4946.17,0.040810,False,4946.17,False
252512,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,8096667,1/1/15,12/24/14,1/26/15,33,0.00,94600,12305.00,0.00,4887.98,0.00,4887.98,0.051670,False,4887.98,False
252513,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,8096667,2/1/15,1/26/15,2/25/15,30,0.00,83000,11025.91,0.00,4288.61,0.00,4288.61,0.051670,False,4288.61,False
252514,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,8096667,3/1/15,2/25/15,3/26/15,29,0.00,79200,11394.52,0.00,3232.15,0.00,3232.15,0.040810,False,3232.15,False
252515,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,8096667,4/1/15,3/26/15,4/24/15,29,0.00,78400,14046.20,0.00,3199.50,0.00,3199.50,0.040810,False,3199.50,False
252516,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,8096667,5/1/15,4/24/15,5/26/15,32,0.00,92200,11547.75,0.00,3762.68,0.00,3762.68,0.040810,False,3762.68,False
252517,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,8096667,6/1/15,5/26/15,6/24/15,29,0.00,108000,7760.80,0.00,4956.12,0.00,4956.12,0.045890,False,4956.12,False
252518,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,8096667,7/1/15,6/24/15,7/24/15,30,0.00,136600,10468.68,0.00,6268.57,0.00,6268.57,0.045890,False,6268.57,False
252519,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,8096667,8/1/15,7/24/15,8/24/15,31,0.00,159600,10997.77,0.00,7324.05,0.00,7324.05,0.045890,False,7324.05,False
252520,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,8096667,9/1/15,8/24/15,9/23/15,30,0.00,140400,9634.22,0.00,6442.96,0.00,6442.96,0.045890,False,6442.96,False
252521,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,8096667,10/1/15,9/23/15,10/23/15,30,0.00,96000,11258.08,0.00,3917.76,0.00,3917.76,0.040810,False,3917.76,False
252522,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,8096667,11/1/15,10/23/15,11/23/15,31,0.00,92800,9993.50,0.00,3787.17,0.00,3787.17,0.040810,False,3787.17,False
252523,WYCKOFF GARDENS,BLD 03,163.0 - BLD 03,8096667,12/1/15,11/23/15,12/24/15,31,0.00,95000,10817.43,0.00,3876.95,0.00,3876.95,0.040810,False,3876.95,False

**Looking at the data for which the values are not the same, nothing out of the ordinary seems to stand out. It could be due to missing fields, typos while entering the data, or unknown parameters, even a combination of all those factors.**

**Issue - 3 - Aggregating meter numbers for each building id, to identify buildings with multiple meter readings**

In [9]:
# list of all buildings with number of meters used to collect data
clean_df.groupby('Building ID').agg({'Meter Number': 'nunique'})

                                   Meter Number
Building ID
1.0 - BLD 01                                  2
1.0 - BLD 02                                  1
1.0 - BLD 03                                  1
1.0 - BLD 04                                  3
1.0 - BLD 05                                  1
1.0 - BLD 06                                  1
1.0 - BLD 07                                  2
10.0 - BLD 01                                 2
10.0 - BLD 02                                 3
10.0 - BLD 03                                 2
10.0 - BLD 04                                 2
10.0 - BLD 05                                 4
10.0 - BLD 06                                 4
10.0 - BLD 07                                 2
10.0 - BLD 08                                 2
10.0 - BLD 09                                 4
10.0 - BLD 10                                 2
10.0 - BLD 11                                 3
10.0 - BLD 13                                 4
10.0 - BLD 14                                 4
10.0 - BLD 15                                 2
10.0 - BLD 16                                 7
100.0 - BLD 01                                1
100.0 - BLD 02                                1
100.0 - BLD 03 - Community Center             2
101.0 - BLD 02                                2
101.0 - BLD 04                                2
102.0 - BLD 02                                2
102.0 - BLD 07                                2
102.0 - BLD 10                                2
...                                         ...
95.0 - LINDEN BLD 20                          3
96.0 - BLD 01                                 1
96.0 - BLD 02                                 2
96.0 - BLD 03                                 1
96.0 - BLD 04                                 1
96.0 - BLD 05                                 1
96.0 - BLD 06                                 1
96.0 - BLD 07                                 1
96.0 - BLD 08                                 1
97.0 - BLD 01                                 1
97.0 - BLD 02                                 1
97.0 - BLD 03                                 2
97.0 - BLD 04                                 1
97.0 - BLD 05                                 1
97.0 - BLD 09                                 3
97.0 - BLD 10 - Community Center              3
98.0 - BLD 14                                 4
98.0 - BLD 15                                 2
99.0 - BLD 01                                 1
99.0 - BLD 02                                 1
99.0 - BLD 03                                 1
99.0 - BLD 04                                 1
99.0 - BLD 05                                 1
999.0 - BLD 01                               23
999.0 - BLD 03                                3
999.0 - BLD 04                                1
999.0 - BLD 05                                1
999.0 - BLD 06                                2
999.0 - BLD 07                                2
999.0 - BLD 08                                1

[1994 rows x 1 columns]

In [10]:
# filtering those rows for which count > 1
temp = clean_df.groupby('Building ID').agg({'Meter Number': 'nunique'})
temp = temp.apply(lambda x: x['Meter Number'] > 1, axis = 1)
temp = temp.to_frame()
temp.columns = ['multiple_meters']
temp.query('multiple_meters')

                                    multiple_meters
Building ID
1.0 - BLD 01                                   True
1.0 - BLD 04                                   True
1.0 - BLD 07                                   True
10.0 - BLD 01                                  True
10.0 - BLD 02                                  True
10.0 - BLD 03                                  True
10.0 - BLD 04                                  True
10.0 - BLD 05                                  True
10.0 - BLD 06                                  True
10.0 - BLD 07                                  True
10.0 - BLD 08                                  True
10.0 - BLD 09                                  True
10.0 - BLD 10                                  True
10.0 - BLD 11                                  True
10.0 - BLD 13                                  True
10.0 - BLD 14                                  True
10.0 - BLD 15                                  True
10.0 - BLD 16                                  True
100.0 - BLD 03 - Community Center              True
101.0 - BLD 02                                 True
101.0 - BLD 04                                 True
102.0 - BLD 02                                 True
102.0 - BLD 07                                 True
102.0 - BLD 10                                 True
102.0 - MORRIS I BLD 05                        True
103.0 - BLD 04                                 True
103.0 - BLD 05                                 True
11.0 - CLASON POINT GARDENS BLD 03             True
11.0 - CLASON POINT GARDENS BLD 13             True
11.0 - CLASON POINT GARDENS BLD 26             True
...                                             ...
94.0 - BLD 05                                  True
95.0 - LINDEN BLD 01                           True
95.0 - LINDEN BLD 02                           True
95.0 - LINDEN BLD 03                           True
95.0 - LINDEN BLD 04                           True
95.0 - LINDEN BLD 05                           True
95.0 - LINDEN BLD 06                           True
95.0 - LINDEN BLD 07                           True
95.0 - LINDEN BLD 08                           True
95.0 - LINDEN BLD 10                           True
95.0 - LINDEN BLD 11                           True
95.0 - LINDEN BLD 12                           True
95.0 - LINDEN BLD 13                           True
95.0 - LINDEN BLD 14                           True
95.0 - LINDEN BLD 15                           True
95.0 - LINDEN BLD 16                           True
95.0 - LINDEN BLD 17                           True
95.0 - LINDEN BLD 18                           True
95.0 - LINDEN BLD 19                           True
95.0 - LINDEN BLD 20                           True
96.0 - BLD 02                                  True
97.0 - BLD 03                                  True
97.0 - BLD 09                                  True
97.0 - BLD 10 - Community Center               True
98.0 - BLD 14                                  True
98.0 - BLD 15                                  True
999.0 - BLD 01                                 True
999.0 - BLD 03                                 True
999.0 - BLD 06                                 True
999.0 - BLD 07                                 True

[1396 rows x 1 columns]

**A large number of buildings (1396 rows) seem to be using multiple meters to collect data. Need to investigate if this causes any overlap in the stored data**

**Issue-5, checking if the service window covers the entire month, for each building id**

In [11]:
clean_df[clean_df['Building ID'] == '118.0 - BLD 01']

,Account Name,Location,Building ID,Meter Number,Revenue Month,Service Start Date,Service End Date,# days,Consumption (KW),Consumption (KWH),Current Charges,KW Charges,KWH Charges,Other charges,Total Charges,Total Energy Rate,Total Charge Match,sum_all_charges,check_current_charge
0,ADAMS,BLD 01,118.0 - BLD 01,7518352,1/1/10,12/24/09,1/26/10,33,148.0,84000,10314.51,1924.00,4818.24,3572.27,6742.24,0.080265,True,10314.51,True
1,ADAMS,BLD 01,118.0 - BLD 01,7518352,2/1/10,1/26/10,2/25/10,30,144.0,75200,9422.06,1872.00,4313.47,3236.59,6185.47,0.082254,False,9422.06,True
2,ADAMS,BLD 01,118.0 - BLD 01,7518352,3/1/10,2/25/10,3/26/10,29,136.0,68800,8988.12,1768.00,3946.37,3273.75,5714.37,0.083058,False,8988.12,True
3,ADAMS,BLD 01,118.0 - BLD 01,7518352,4/1/10,3/26/10,4/26/10,31,124.0,68400,9146.17,1612.00,3923.42,3610.75,5535.42,0.080927,True,9146.17,True
4,ADAMS,BLD 01,118.0 - BLD 01,7518352,5/1/10,4/26/10,5/24/10,28,144.0,64800,9137.42,1872.00,3716.93,3548.49,5588.93,0.086249,True,9137.42,True
5,ADAMS,BLD 01,118.0 - BLD 01,7518352,6/1/10,5/24/10,6/23/10,30,168.0,82400,11421.15,2184.00,4726.46,4510.69,6910.46,0.083865,True,11421.15,True
6,ADAMS,BLD 01,118.0 - BLD 01,7518352,7/1/10,6/23/10,7/23/10,30,204.0,106800,14130.71,2652.00,6126.05,5352.66,8778.05,0.082191,True,14130.71,True
7,ADAMS,BLD 01,118.0 - BLD 01,7518352,9/1/10,8/23/10,9/22/10,30,200.0,93600,13140.02,2600.00,5368.90,5171.12,7968.90,0.085138,True,13140.02,True
8,ADAMS,BLD 01,118.0 - BLD 01,7518352,10/1/10,9/22/10,10/22/10,30,152.0,70000,10001.97,1976.00,4015.20,4010.77,5991.20,0.085589,True,10001.97,True
9,ADAMS,BLD 01,118.0 - BLD 01,7518352,11/1/10,10/22/10,11/22/10,31,128.0,68800,9093.04,1664.00,3946.37,3482.67,5610.37,0.081546,True,9093.04,True
10,ADAMS,BLD 01,118.0 - BLD 01,7518352,12/1/10,11/22/10,12/23/10,31,136.0,71200,9556.23,1768.00,4084.03,3704.20,5852.03,0.082191,True,9556.23,True
11,ADAMS,BLD 01,118.0 - BLD 01,7518352,3/1/11,2/24/11,3/25/11,29,128.0,70800,9398.17,1681.92,4105.69,3610.56,5787.61,0.081746,True,9398.17,True
12,ADAMS,BLD 01,118.0 - BLD 01,7518352,4/1/11,3/25/11,4/25/11,31,128.0,65600,8468.14,1681.92,3804.14,2982.08,5486.06,0.083629,True,8468.14,True
13,ADAMS,BLD 01,118.0 - BLD 01,7518352,5/1/11,4/25/11,5/24/11,29,116.0,58400,7602.20,1524.24,3386.62,2691.34,4910.86,0.084090,True,7602.20,True
14,ADAMS,BLD 01,118.0 - BLD 01,7518352,6/1/11,5/24/11,6/23/11,30,184.0,79200,11750.82,2417.76,4592.81,4740.25,7010.57,0.088517,True,11750.82,True
15,ADAMS,BLD 01,118.0 - BLD 01,7518352,8/1/11,7/25/11,8/23/11,29,192.0,90800,14039.15,1666.56,7031.55,5341.04,8698.11,0.095794,False,14039.15,True
16,ADAMS,BLD 01,118.0 - BLD 01,7518352,9/1/11,8/23/11,9/22/11,30,156.0,79200,11037.04,1354.08,6133.25,3549.71,7487.33,0.094537,True,11037.04,True
17,ADAMS,BLD 01,118.0 - BLD 01,7518352,10/1/11,9/22/11,10/24/11,32,148.0,73200,9764.36,1284.64,4880.98,3598.74,6165.62,0.084230,True,9764.36,True
18,ADAMS,BLD 01,118.0 - BLD 01,7518352,11/1/11,10/24/11,11/22/11,29,120.0,61200,8127.48,1041.60,4080.82,3005.06,5122.42,0.083700,True,8127.48,True
19,ADAMS,BLD 01,118.0 - BLD 01,7518352,12/1/11,11/22/11,12/23/11,31,128.0,67600,8352.51,1111.04,4507.57,2733.90,5618.61,0.083116,True,8352.51,True
20,ADAMS,BLD 01,118.0 - BLD 01,7518352,1/1/12,12/23/11,1/25/12,33,120.0,71600,9831.27,2450.88,3927.98,3452.41,6378.86,0.089090,True,9831.27,True
21,ADAMS,BLD 01,118.0 - BLD 01,7518352,2/1/12,1/25/12,2/24/12,30,124.0,64000,8787.33,2450.88,3511.04,2825.41,5961.92,0.093155,True,8787.33,True
22,ADAMS,BLD 01,118.0 - BLD 01,7518352,3/1/12,2/24/12,3/26/12,31,124.0,64800,8920.06,2450.88,3554.93,2914.25,6005.81,0.092682,True,8920.06,True
23,ADAMS,BLD 01,118.0 - BLD 01,7518352,4/1/12,3/26/12,4/24/12,29,120.0,59600,8470.43,2450.88,3269.66,2749.89,5720.54,0.095982,True,8470.43,True
24,ADAMS,BLD 01,118.0 - BLD 01,7518352,5/1/12,4/24/12,5/23/12,29,124.0,60400,8603.68,2450.88,3313.54,2839.26,5764.42,0.095437,True,8603.68,True
25,ADAMS,BLD 01,118.0 - BLD 01,7518352,6/1/12,5/23/12,6/22/12,30,180.0,75200,12454.71,3063.60,4533.06,4858.05,7596.66,0.101019,True,12454.71,True
26,ADAMS,BLD 01,118.0 - BLD 01,7518352,7/1/12,6/22/12,7/24/12,32,188.0,105200,15855.02,3199.76,6341.46,6313.80,9541.22,0.090696,True,15855.02,True
27,ADAMS,BLD 01,118.0 - BLD 01,7518352,8/1/12,7/24/12,8/22/12,29,180.0,96400,12131.15,3063.60,5810.99,3256.56,8874.59,0.092060,True,12131.15,True
28,ADAMS,BLD 01,118.0 - BLD 01,7518352,9/1/12,8/22/12,9/21/12,30,164.0,86400,11169.88,2791.28,5208.19,3170.41,7999.47,0.092586,True,11169.88,True
29,ADAMS,BLD 01,118.0 - BLD 01,7518352,11/1/12,10/23/12,11/21/12,29,132.0,63200,8157.10,2399.82,3467.15,2290.13,5866.97,0.092832,True,8157.10,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,ADAMS,BLD 01,118.0 - BLD 01,7518352,5/1/15,4/24/15,5/26/15,32,136.0,66000,8350.19,2184.54,2693.46,2184.54,4878.00,0.073909,False,7062.54,False
60,ADAMS,BLD 01,118.0 - BLD 01,7518352,6/1/15,5/26/15,6/24/15,29,176.0,76800,9798.17,2786.08,3524.35,2786.08,6310.43,0.082167,False,9096.51,False
61,ADAMS,BLD 01,118.0 - BLD 01,7518352,8/1/15,7/24/15,8/24/15,31,188.0,105200,11710.61,2976.04,4827.63,2976.04,7803.67,0.074179,False,10779.71,False
62,ADAMS,BLD 01,118.0 - BLD 01,7518352,9/1/15,8/24/15,9/23/15,30,196.0,96400,11264.13,3102.68,4423.80,3102.68,7526.48,0.078076,False,10629.16,False
63,ADAMS,BLD 01,118.0 - BLD 01,7518352,10/1/15,9/23/15,10/23/15,30,144.0,68400,8027.30,2327.01,2791.40,2327.01,5118.41,0.074831,False,7445.42,False
64,ADAMS,BLD 01,118.0 - BLD 01,7518352,11/1/15,10/23/15,11/23/15,31,140.0,73200,7601.60,2327.01,2987.29,2327.01,5314.30,0.072600,False,7641.31,False
65,ADAMS,BLD 01,118.0 - BLD 01,7518352,4/1/16,3/25/16,4/25/16,31,112.0,61200,6690.45,2156.49,2192.18,2341.78,4348.67,0.071057,False,6690.45,True
66,ADAMS,BLD 01,118.0 - BLD 01,7518352,5/1/16,4/25/16,5/24/16,29,120.0,59200,6404.75,2156.49,2120.54,2127.72,4277.03,0.072247,True,6404.75,True
67,ADAMS,BLD 01,118.0 - BLD 01,7518352,6/1/16,5/24/16,6/23/16,30,164.0,81600,9073.16,2405.88,3338.26,3329.02,5744.14,0.070394,True,9073.16,True
68,ADAMS,BLD 01,118.0 - BLD 01,7518352,7/1/16,6/23/16,7/25/16,32,192.0,106400,11386.76,2816.64,4352.82,4217.30,7169.46,0.067382,False,11386.76,True
69,ADAMS,BLD 01,118.0 - BLD 01,7518352,8/1/16,7/25/16,8/23/16,29,208.0,108800,11559.56,3051.36,4451.01,4057.19,7502.37,0.068956,False,11559.56,True
70,ADAMS,BLD 01,118.0 - BLD 01,7518352,9/1/16,8/23/16,9/22/16,30,192.0,96000,10992.68,2816.64,3927.36,4248.68,6744.00,0.070250,True,10992.68,True
71,ADAMS,BLD 01,118.0 - BLD 01,7518352,10/1/16,9/22/16,10/24/16,32,152.0,72400,8579.31,2288.52,2593.37,3697.42,4881.89,0.067429,True,8579.31,True
72,ADAMS,BLD 01,118.0 - BLD 01,7518352,11/1/16,10/24/16,11/22/16,29,124.0,63600,6648.01,2288.52,2278.15,2081.34,4566.67,0.071803,True,6648.01,True
73,ADAMS,BLD 01,118.0 - BLD 01,7518352,12/1/16,11/22/16,12/23/16,31,120.0,68800,7704.80,2288.52,2464.42,2951.86,4752.94,0.069083,False,7704.80,True
74,ADAMS,BLD 01,118.0 - BLD 01,7518352,1/1/17,12/23/16,1/25/17,33,128.0,72800,8464.96,2233.92,2982.62,3248.42,5216.54,0.071656,True,8464.96,True
75,ADAMS,BLD 01,118.0 - BLD 01,7518352,2/1/17,1/25/17,2/24/17,30,116.0,64000,8201.16,2233.92,2622.08,3345.16,4856.00,0.075875,True,8201.16,True
76,ADAMS,BLD 01,118.0 - BLD 01,7518352,3/1/17,2/24/17,3/27/17,31,124.0,65600,8222.10,2233.92,2687.63,3300.55,4921.55,0.075024,True,8222.10,True
77,ADAMS,BLD 01,118.0 - BLD 01,7518352,4/1/17,3/27/17,4/25/17,29,116.0,61200,7780.05,2233.92,2507.36,3038.77,4741.28,0.077472,False,7780.05,True
78,ADAMS,BLD 01,118.0 - BLD 01,7518352,6/1/17,5/23/17,6/22/17,30,188.0,75200,10813.83,2692.16,3463.71,4657.96,6155.87,0.081860,True,10813.83,True
79,ADAMS,BLD 01,118.0 - BLD 01,7518352,7/1/17,6/22/17,7/24/17,32,184.0,104000,12613.40,2634.88,4790.24,5188.28,7425.12,0.071395,True,12613.40,True
80,ADAMS,BLD 01,118.0 - BLD 01,7518352,8/1/17,7/24/17,8/22/17,29,172.0,86400,10502.89,2463.04,3979.58,4060.27,6442.62,0.074567,True,10502.89,True
81,ADAMS,BLD 01,118.0 - BLD 01,7518352,9/1/17,8/22/17,9/21/17,30,180.0,78000,10402.89,2577.60,3592.68,4232.61,6170.28,0.079106,True,10402.89,True
82,ADAMS,BLD 01,118.0 - BLD 01,7518352,10/1/17,9/21/17,10/23/17,32,172.0,80000,9990.16,2463.04,3277.60,4249.52,5740.64,0.071758,True,9990.16,True
83,ADAMS,BLD 01,118.0 - BLD 01,7518352,11/1/17,10/23/17,11/21/17,29,120.0,62400,7142.67,2019.12,2556.53,2567.02,4575.65,0.073328,True,7142.67,True
84,ADAMS,BLD 01,118.0 - BLD 01,7518352,1/1/18,12/22/17,1/24/18,33,128.0,68000,8416.16,1172.48,2589.44,4654.24,3761.92,0.055322,True,8416.16,True
85,ADAMS,BLD 01,118.0 - BLD 01,7518352,2/1/18,1/24/18,2/23/18,30,120.0,63200,8996.22,1099.20,2406.66,5490.36,3505.86,0.055472,True,8996.22,True
86,ADAMS,BLD 01,118.0 - BLD 01,7518352,4/1/18,3/26/18,4/24/18,29,116.0,60800,7972.60,1062.56,2315.26,4594.78,3377.82,0.055556,True,7972.60,True
87,ADAMS,BLD 01,118.0 - BLD 01,7518352,5/1/18,4/24/18,5/23/18,29,144.0,61200,8842.72,1319.04,2330.50,5193.18,3649.54,0.059633,False,8842.72,True
88,ADAMS,BLD 01,118.0 - BLD 01,7518352,6/1/18,5/23/18,6/22/18,30,180.0,74800,14413.24,1648.80,5954.08,6810.36,7602.88,0.101643,True,14413.24,True

In [12]:
# create a new column for revenue year
clean_df['Revenue Month'] = pd.to_datetime(clean_df['Revenue Month'])
clean_df['Service Start Date'] = pd.to_datetime(clean_df['Service Start Date'])
clean_df['Service End Date'] = pd.to_datetime(clean_df['Service End Date'])
clean_df['revenue_year'] = clean_df['Revenue Month'].dt.year

In [16]:
# group by building id, and revenue year, and find sum of # days in each year

clean_df.groupby(['Building ID','revenue_year']).agg({'# days': sum})

                             # days
Building ID    revenue_year
1.0 - BLD 01   2010             639
               2011             551
               2012             670
               2013             730
               2014             666
               2015             608
               2016             302
               2017             302
               2018             364
1.0 - BLD 02   2010             364
               2011             335
               2012             335
               2013             365
               2014             333
               2015             304
               2016             151
               2017             151
               2018             182
1.0 - BLD 03   2010             364
               2011             335
               2012             335
               2013             365
               2014             333
               2015             304
               2016             151
               2017             123
               2018             182
1.0 - BLD 04   2010             364
               2011             335
               2012             335
...                             ...
999.0 - BLD 03 2010             666
               2011             634
               2012             734
               2013             671
               2014             730
999.0 - BLD 04 2010             243
               2011             302
               2012             273
               2013             365
               2014             365
999.0 - BLD 05 2010             275
               2011              59
               2012             123
               2013             365
               2014             333
999.0 - BLD 06 2010             334
               2011             333
               2012             367
               2013             271
               2014             273
999.0 - BLD 07 2010             635
               2011             634
               2012             550
               2013             730
               2014             671
999.0 - BLD 08 2010             364
               2011             365
               2012             302
               2013             333
               2014             365

[16855 rows x 1 columns]

**Many buildings seem to have more than 365 days recorded in a calendar year, which is due to multiple meter readings for the same time period. Have to investigate how to deal with these data anomalies **