In [1]:
import pandas as pd

### 1. Read in the data

In [2]:
df = pd.read_csv("../data/NYC Open Data - Electric_Consumption_And_Cost__2010_-__June_2018_.csv")

/Users/feiwang/miniconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.shape

(313147, 27)

#### Check the number of empty values in each column

In [4]:
df.isnull().sum()

Development Name         146
Borough                  146
Account Name             146
Location                9041
Meter AMR                187
Meter Scope           296588
TDS #                   1717
EDP                      146
RC Code                  146
Funding Source           146
AMP #                   1657
Vendor Name              146
UMIS BILL ID             146
Revenue Month            146
Service Start Date       146
Service End Date         146
# days                   146
Meter Number             146
Estimated                146
Current Charges          146
Rate Class               146
Bill Analyzed            146
Consumption (KWH)        146
KWH Charges              146
Consumption (KW)         146
KW Charges               146
Other charges            146
dtype: int64

### 2. Remove empty rows

In [5]:
mask = (pd.isna(df['Account Name']) == True)
df.drop(mask[mask == True].index, axis = 0, inplace = True)

### 3. Remove rows where electricity charges were estimated

In [6]:
df.drop(df.loc[df['Estimated'] == 'Y         '].index, axis = 0, inplace = True)

#### Check data types of columns

In [7]:
df.dtypes

Development Name       object
Borough                object
Account Name           object
Location               object
Meter AMR              object
Meter Scope            object
TDS #                 float64
EDP                   float64
RC Code                object
Funding Source         object
AMP #                  object
Vendor Name            object
UMIS BILL ID          float64
Revenue Month          object
Service Start Date     object
Service End Date       object
# days                float64
Meter Number           object
Estimated              object
Current Charges        object
Rate Class             object
Bill Analyzed          object
Consumption (KWH)     float64
KWH Charges            object
Consumption (KW)       object
KW Charges             object
Other charges          object
dtype: object

### 4. Change the following fields from string to float

"Consumption (KW)", "Current Charges", "KWH Charges", "KW Charges", "Other charges"

In [8]:
df["Consumption (KW)"] = df["Consumption (KW)"].apply(lambda x: x.replace(",","") if type(x) == str else str(x))
df["Consumption (KW)"] = df["Consumption (KW)"].astype(float)

In [9]:
df["Current Charges"] = df["Current Charges"].apply(lambda x: x.replace("$","").replace(",","").replace("(","-").replace(")","") if type(x) == str else str(x))
df["Current Charges"] = df["Current Charges"].astype(float)

In [10]:
df["KWH Charges"] = df["KWH Charges"].apply(lambda x: x.replace("$","").replace(",","").replace("(","-").replace(")","") if type(x) == str else str(x))
df["KWH Charges"] = df["KWH Charges"].astype(float, inplace = True)

In [11]:
df["KW Charges"] = df["KW Charges"].apply(lambda x: x.replace("$","").replace(",","").replace("(","-").replace(")","") if type(x) == str else str(x))
df["KW Charges"] = df["KW Charges"].astype(float, inplace = True)

In [12]:
df["Other charges"] = df["Other charges"].apply(lambda x: x.replace("$","").replace(",","").replace("(","-").replace(")","") if type(x) == str else str(x))
df["Other charges"] = df["Other charges"].astype(float, inplace = True)

#### Summarize the numerical fields

More than 25% of the values for all except "Curent Charges" are 0

In [13]:
df[["Consumption (KWH)",  "Consumption (KW)", "Current Charges", "KWH Charges", "KW Charges", "Other charges"]].describe()

,Consumption (KWH),Consumption (KW),Current Charges,KWH Charges,KW Charges,Other charges
count,2.612520e+05,261252.000000,261252.000000,261252.000000,261252.000000,261252.000000
mean,3.256572e+04,68.239881,4510.758176,1673.941416,1084.801607,1672.128898
std,5.307171e+04,122.266314,6630.228947,2921.443192,1807.808563,3626.935491
min,0.000000e+00,0.000000,-243.150000,0.000000,0.000000,-59396.430000
25%,0.000000e+00,0.000000,384.342500,0.000000,0.000000,0.000000
50%,1.136000e+04,31.510000,2536.945000,555.020000,448.370000,896.510000
75%,4.816000e+04,98.500000,6052.357500,2359.892500,1601.422500,2636.255000
max,1.779600e+06,16135.460000,329800.370000,195575.860000,78782.960000,134224.510000

### 5. Convert Revenue Month and Two dates to datetime type

In [14]:
from datetime import datetime

In [15]:
df["Revenue Month"] = df["Revenue Month"].map(lambda x: datetime.strptime(x.split(" ")[0], '%m/%d/%Y'))
df['Service Start Date'] = df['Service Start Date'].map(lambda x: datetime.strptime(x, '%m/%d/%Y'))
df['Service End Date'] = df['Service End Date'].map(lambda x: datetime.strptime(x, '%m/%d/%Y'))

#### Check "Meter Scope": are the row with a range value represent a "Master Meter" (i.e. its value is the sum of other related rows)? - No

In [16]:
df['Meter Scope'].value_counts()

Community Center                                      3223
BLD 01                                                 621
BLD 02                                                 452
BLD 03                                                 433
BLD 04                                                 402
BLD 06                                                 274
BLD 07                                                 274
APT 01A - Management Office                            273
APT 01B - Management Office                            263
WEST BRIGHTON I ALL                                    200
WEST BRIGHTON II ALL                                   200
APT 02F - Management Office                            195
APT 02H - Management Office                            194
MORRISANIA ALL                                         194
APT 02E - Management Office                            194
APT 02G - Management Office                            193
BLD 05                                                 186
APT 01G - Management Office                            165
APT 02J - Management Office                            164
First Floor - Management Office                        133
BLD 1 - 9                                              112
BLD 1 - 14                                             109
BLD 5-8                                                101
BLD 4                                                  101
APT 01C - Maintenance Shop                             101
APT 02M - Management Office                            100
APT 01B - Tenant Association Office                    100
APT 02L - Management Office                            100
BLD 23                                                 100
APT 02S - Management Office                            100
                                                      ...
APT 01D - Management Office                             94
APT 01H - Management Office                             94
APT 01C - Management Office                             94
MORRIS I BLD 5                                          94
APT 01A - Tenant Patrol Office                          92
BLD 01 to 07                                            90
APT 02R - Family Services Department                    90
BLD 1                                                   89
APT 02P - Family Services Department                    89
APT 02S - Family Services Department                    89
APT 01G - Tenant Association Office - Presidents O      85
BLD 2&3                                                 82
APT 02D - Family Services Department                    81
APT 01B - Superintendent Office                         81
VAN DYKE II ALL                                         80
VAN DYKE I ALL                                          75
APT 01A - Maintenance Shop                              75
APT 01D - Resident Association Office                   73
BLD 7-9                                                 71
APT 01E - Resident                                      68
APT 01K - Senior Center                                 68
APT 01H - Resident                                      54
BLD 03 - Community Center                               39
Exterior Compactors                                     30
Store#: 23-24                                           19
Store 21                                                16
Store 12&13                                             12
10-34 41ST Ave Sto                                      11
3A                                                       5
Store 22                                                 5
Name: Meter Scope, Length: 99, dtype: int64

In [17]:
df[(df['TDS #'] == 118) & (df["Revenue Month"] == '2010-02-01')][["Location", "Meter Scope", "Revenue Month", "Current Charges"]]

   Location   Meter Scope Revenue Month  Current Charges
1    BLD 05  BLD 01 to 07    2010-02-01         14556.34
13   BLD 06        BLD 06    2010-02-01         10948.54
25   BLD 07        BLD 07    2010-02-01         10403.82
37   BLD 01        BLD 01    2010-02-01          9422.06
49   BLD 02        BLD 02    2010-02-01          9710.06
61   BLD 03        BLD 03    2010-02-01          9286.81
73   BLD 04        BLD 04    2010-02-01         10133.33

In [18]:
df[(df['Meter Scope'] == 'Community Center')].groupby('Location').mean()

,TDS #,EDP,UMIS BILL ID,# days,Current Charges,Consumption (KWH),KWH Charges,Consumption (KW),KW Charges,Other charges
Location,,,,,,,,,,
BLD 01 - Community Center,219.172222,448.761111,3.703092e+06,30.455556,968.792556,5736.194444,313.216667,16.535889,216.624500,423.685889
BLD 02 - Community Center,179.483471,435.892562,3.678972e+06,30.342975,1786.717975,9327.508264,509.086653,33.722045,400.787686,833.356219
BLD 03 - Community Center,227.368078,345.739414,3.657077e+06,30.358306,3364.966645,22792.403909,1209.733257,55.999088,675.012866,1395.811466
BLD 04 - Community Center,164.564103,458.384615,3.592468e+06,30.318681,2934.512381,17003.956044,922.177802,50.013919,712.859634,1244.547033
BLD 05 - Community Center,111.000000,434.000000,3.727165e+06,30.351064,1359.712021,9234.893617,492.193723,22.808511,278.162553,559.105426
BLD 06 - Community Center,238.207447,457.611702,3.646114e+06,30.367021,3094.852234,17753.829787,954.731543,51.770213,775.852660,1326.571862
BLD 08,75.000000,226.000000,3.734546e+06,30.474747,2617.118889,12876.363636,641.169293,61.707071,574.925859,1249.793737
BLD 09 - Community Center,28.000000,523.000000,3.892687e+06,30.421687,4268.201084,23331.084337,1204.569036,76.356627,1077.436506,1889.236867
BLD 10 - Community Center,60.928571,392.952381,3.626191e+06,30.425926,4550.163545,26973.185185,1412.216614,82.048466,1018.374630,1992.630608
BLD 12 - Community Center,126.000000,440.000000,4.053056e+06,30.463415,4852.131341,22640.975610,1194.572927,88.926829,1296.006098,2238.667195
BLD 13 - Community Center,88.000000,234.000000,2.897605e+06,30.285714,1350.259796,8073.469388,470.809592,22.465306,272.885918,550.799592
BLD 15 - Community Center,44.000000,584.000000,3.702243e+06,30.416667,1580.647396,9593.750000,518.277917,23.879167,396.536979,643.811354
BLD 16 - Community Center,243.000000,353.000000,2.926861e+06,30.321429,3858.404107,17451.428571,994.812500,74.128571,949.653750,1815.163214
BLD 21 - Community Center,2.000000,200.000000,2.865459e+06,30.561404,4539.154561,23416.140351,1344.025439,83.003509,1044.292456,2067.585614
BLD 23 - Community Center,89.000000,235.000000,3.640108e+06,30.382979,2269.757234,14081.702128,752.744255,38.659574,505.571064,955.403298
BLD 25 - Community Center,92.000000,670.000000,3.630029e+06,30.438776,4674.129286,30216.326531,1597.667857,77.918367,1069.084490,1921.116939
BLD 31 - Community Center,67.000000,222.000000,3.858227e+06,30.377778,6516.316667,40022.222222,2111.066667,105.666667,1570.100333,2726.515222
BLD 39 - Community Center,514.000000,509.000000,2.890956e+06,30.250000,1594.283594,5899.375000,343.410469,30.512500,411.722656,805.222187
BLD 48 - Community Center,377.000000,650.000000,3.706621e+06,30.376289,1965.927887,10706.391753,567.904072,35.261856,472.568660,892.473711
BLD 51 - Community Center,303.000000,566.000000,3.944821e+06,30.233766,2001.323896,12703.896104,649.832987,34.727273,456.434156,848.863636

In [19]:
df[(df['Meter Scope'] == 'BLD 1 - 9')].groupby('Location').mean()

,TDS #,EDP,UMIS BILL ID,# days,Current Charges,Consumption (KWH),KWH Charges,Consumption (KW),KW Charges,Other charges
Location,,,,,,,,,,
BLD 02,55.0,525.0,3.781606e+06,27.008929,44982.836339,290678.571429,15647.757054,475.214286,4529.356607,22893.834732

### 6. Create an unique identifier for each building and remove unnecessary fields

In [20]:
# the combination of TDS# and Location uniquely determines a buildling
# Use EDP or RC Code when TDS# is not available
df['Building ID'] = df['TDS #'].combine_first(df['EDP']).map(str).combine_first(df['RC Code']) \
                    + " - " + df['Location'].map(lambda x: 'NA' if pd.isna(x) else x)

In [21]:
# Building ID alone is not the primary key of the data
df.groupby(['Building ID', 'Revenue Month']).count().shape[0]/df.shape[0]

0.6323396567299007

In [22]:
# the combination of Building ID, meter number and revenue month is still not a primary key
df.groupby(['Building ID', 'Meter Number', 'Revenue Month']).count().shape[0]/df.shape[0]

0.9987636458285487

In [23]:
# Define a list of columns of interest
cols = ['Account Name', 'Location', 'Building ID', 'Meter Number',
        'Revenue Month', 'Service Start Date', 'Service End Date', '# days', 
       'Current Charges','Consumption (KWH)', 'KWH Charges',
       'Consumption (KW)', 'KW Charges', 'Other charges']
df = df[cols]

#### In some cases multiple rows exists for one revenue month, with consecutive service start and end dates. We need to combined these rows for the same meter-month

In [24]:
df[(df['Building ID'] == '98.0 - BLD 15') & (df['Meter Number'] == 99277502) & (df['Revenue Month'] == '2013-03-01')][cols]

,Account Name,Location,Building ID,Meter Number,Revenue Month,Service Start Date,Service End Date,# days,Current Charges,Consumption (KWH),KWH Charges,Consumption (KW),KW Charges,Other charges
117025,OCEAN BAY APARTMENTS (BAYSIDE),BLD 15,98.0 - BLD 15,99277502,2013-03-01,2013-02-19,2013-03-18,27.0,62086.60,398400.0,40709.83,838.8,0.0,21376.77
117026,OCEAN BAY APARTMENTS (BAYSIDE),BLD 15,98.0 - BLD 15,99277502,2013-03-01,2013-03-18,2013-03-19,1.0,14.64,0.0,0.00,0.0,0.0,14.64
117027,OCEAN BAY APARTMENTS (BAYSIDE),BLD 15,98.0 - BLD 15,99277502,2013-03-01,2013-03-19,2013-03-26,7.0,103.84,0.0,0.00,1.2,0.0,103.84

In [25]:
df[(df['Building ID'] == '165.0 - BLD 01') & (df['Meter Number'] == '099800299') & (df['Revenue Month'] == '2016-06-01')][cols]

Empty DataFrame
Columns: [Account Name, Location, Building ID, Meter Number, Revenue Month, Service Start Date, Service End Date, # days, Current Charges, Consumption (KWH), KWH Charges, Consumption (KW), KW Charges, Other charges]
Index: []

In [26]:
# the combination of Building ID, meter number and revenue month is almost a primary key
df.groupby(['Building ID', 'Meter Number', 'Revenue Month', 'Service Start Date', 'Service End Date']).count().shape[0]/df.shape[0]

0.9994870852663329

### 7. There are duplicated rows in the dataset - remove duplicates in df

In [27]:
df = df.drop_duplicates()

### 8. Check which combinations of the 5 fields (Building ID, Meter, Month, StartDate, EndDate) has multiple rows and why

In [28]:
idx = df.groupby(['Building ID', 'Meter Number', 'Revenue Month', 'Service Start Date', 'Service End Date']).count()['Account Name'].reset_index()
idx.columns = ['Building ID', 'Meter Number', 'Revenue Month','Service Start Date', 'Service End Date', 'Counts']
idx = idx[idx['Counts'] > 1]

dupRows = idx.sort_values('Counts', ascending = False)

a = pd.merge(dupRows.iloc[:, 0:3], df[cols], on = \
         ['Building ID', 'Meter Number', 'Revenue Month'], how = 'inner')[cols]\
        .sort_values(['Building ID', 'Meter Number', 'Revenue Month'])

#### half of these problematic rows has zero values in the numerical fields like "current charges"

In [29]:
a

,Account Name,Location,Building ID,Meter Number,Revenue Month,Service Start Date,Service End Date,# days,Current Charges,Consumption (KWH),KWH Charges,Consumption (KW),KW Charges,Other charges
0,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-01-01,2012-12-24,2013-01-24,31.0,0.00,0.0,0.00,0.00,0.00,0.00
1,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-01-01,2012-12-24,2013-01-24,31.0,0.00,0.0,0.00,52.08,1105.73,-1105.73
36,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-02-01,2013-01-24,2013-02-25,32.0,0.00,0.0,0.00,0.00,0.00,0.00
37,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-02-01,2013-01-24,2013-02-25,32.0,0.00,0.0,0.00,52.94,1166.15,-1166.15
40,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-03-01,2013-02-25,2013-03-26,29.0,0.00,0.0,0.00,0.00,0.00,0.00
41,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-03-01,2013-02-25,2013-03-26,29.0,0.00,0.0,0.00,50.93,1169.81,-1169.81
42,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-04-01,2013-03-26,2013-04-24,29.0,0.00,0.0,0.00,0.00,0.00,0.00
43,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-04-01,2013-03-26,2013-04-24,29.0,0.00,0.0,0.00,51.46,1146.50,-1146.50
44,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-05-01,2013-04-24,2013-05-23,29.0,0.00,0.0,0.00,0.00,0.00,0.00
45,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-05-01,2013-04-24,2013-05-23,29.0,0.00,0.0,0.00,60.96,1235.82,-1235.82
46,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-06-01,2013-05-23,2013-06-24,32.0,0.00,0.0,0.00,0.00,0.00,0.00
47,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-06-01,2013-05-23,2013-06-24,32.0,2044.51,0.0,0.00,74.11,1301.37,743.14
48,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-07-01,2013-06-24,2013-07-24,30.0,0.00,0.0,0.00,0.00,0.00,0.00
49,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-07-01,2013-06-24,2013-07-24,30.0,2357.10,0.0,0.00,84.91,1491.02,866.08
50,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-08-01,2013-07-24,2013-08-22,29.0,0.00,0.0,0.00,0.00,0.00,0.00
51,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-08-01,2013-07-24,2013-08-22,29.0,1934.53,0.0,0.00,74.83,1314.01,620.52
38,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-09-01,2013-08-22,2013-09-23,32.0,0.00,0.0,0.00,0.00,0.00,0.00
39,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2013-09-01,2013-08-22,2013-09-23,32.0,2002.98,0.0,0.00,73.20,1285.39,717.59
52,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2012-12-01,2012-11-21,2012-12-24,33.0,0.00,0.0,0.00,0.00,0.00,0.00
53,KINGSBOROUGH,BLD 06,10.0 - BLD 06,1864559,2012-12-01,2012-11-21,2012-12-24,33.0,0.00,0.0,0.00,54.43,1109.09,-1109.09
56,JACKSON,NaN,120.0 - NA,1125615,2011-04-01,2011-03-25,2011-04-25,31.0,0.00,0.0,0.00,0.00,0.00,0.00
57,JACKSON,NaN,120.0 - NA,1125615,2011-04-01,2011-03-25,2011-04-25,31.0,10991.81,0.0,0.00,930.72,10991.81,0.00
58,LOW HOUSES,BLD 04,169.0 - BLD 04,8078330,2010-03-01,2010-02-25,2010-03-26,29.0,0.00,0.0,0.00,0.00,0.00,0.00
59,LOW HOUSES,BLD 04,169.0 - BLD 04,8078330,2010-03-01,2010-02-25,2010-03-26,29.0,9580.19,78240.0,4487.85,144.00,1872.00,3220.34
60,LOW HOUSES,BLD 04,169.0 - BLD 04,8078330,2010-04-01,2010-03-26,2010-04-26,31.0,0.00,0.0,0.00,0.00,0.00,0.00
61,LOW HOUSES,BLD 04,169.0 - BLD 04,8078330,2010-04-01,2010-03-26,2010-04-26,31.0,9713.55,71040.0,4074.85,140.80,1830.40,3808.30
62,LOW HOUSES,BLD 04,169.0 - BLD 04,8078330,2010-05-01,2010-04-26,2010-05-24,28.0,0.00,0.0,0.00,0.00,0.00,0.00
63,LOW HOUSES,BLD 04,169.0 - BLD 04,8078330,2010-05-01,2010-04-26,2010-05-24,28.0,10549.09,80000.0,4588.80,158.40,2059.20,3901.09
64,LOW HOUSES,BLD 04,169.0 - BLD 04,8078330,2010-06-01,2010-05-24,2010-06-23,30.0,0.00,0.0,0.00,0.00,0.00,0.00
65,LOW HOUSES,BLD 04,169.0 - BLD 04,8078330,2010-06-01,2010-05-24,2010-06-23,30.0,13699.87,100160.0,5745.18,200.00,2600.00,5354.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,THROGGS NECK,BLD 11,63.0 - BLD 11,8125318,2011-12-01,2011-11-22,2011-12-23,31.0,0.00,0.0,0.00,0.00,0.00,0.00
5,THROGGS NECK,BLD 11,63.0 - BLD 11,8125318,2011-12-01,2011-11-22,2011-12-23,31.0,3929.78,38880.0,2592.52,0.00,0.00,1337.26
6,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-05-01,2011-04-25,2011-05-24,29.0,0.00,0.0,0.00,0.00,0.00,0.00
7,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-05-01,2011-04-25,2011-05-24,29.0,5560.13,56160.0,3256.72,0.00,0.00,2303.41
8,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-06-01,2011-05-24,2011-06-23,30.0,0.00,0.0,0.00,0.00,0.00,0.00
9,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-06-01,2011-05-24,2011-06-23,30.0,5848.38,58080.0,3368.06,0.00,0.00,2480.32
10,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-07-01,2011-06-23,2011-07-25,32.0,0.00,0.0,0.00,0.00,0.00,0.00
11,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-07-01,2011-06-23,2011-07-25,32.0,11341.38,84800.0,6566.91,0.00,0.00,4774.47
12,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-08-01,2011-07-25,2011-08-23,29.0,0.00,0.0,0.00,0.00,0.00,0.00
13,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-08-01,2011-07-25,2011-08-23,29.0,8664.19,69280.0,5365.04,0.00,0.00,3299.15
14,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-09-01,2011-08-23,2011-09-22,30.0,0.00,0.0,0.00,0.00,0.00,0.00
15,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-09-01,2011-08-23,2011-09-22,30.0,6260.92,54080.0,4187.96,0.00,0.00,2072.96
2,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-10-01,2011-09-22,2011-10-24,32.0,0.00,0.0,0.00,0.00,0.00,0.00
3,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-10-01,2011-09-22,2011-10-24,32.0,5840.61,57600.0,3840.77,0.00,0.00,1999.84
16,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-11-01,2011-10-24,2011-11-22,29.0,0.00,0.0,0.00,0.00,0.00,0.00
17,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-11-01,2011-10-24,2011-11-22,29.0,6886.51,64960.0,4331.53,0.00,0.00,2554.98
20,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-12-01,2011-11-22,2011-12-23,31.0,0.00,0.0,0.00,0.00,0.00,0.00
21,THROGGS NECK,BLD 14,63.0 - BLD 14,8096579,2011-12-01,2011-11-22,2011-12-23,31.0,6355.59,62880.0,4192.84,0.00,0.00,2162.75
22,DOUGLASS I/DOUGLASS II,DOUGLASS I BLD 05,82.0 - DOUGLASS I BLD 05,1478392,2014-02-01,2014-01-24,2014-02-25,32.0,0.00,0.0,0.00,0.00,0.00,0.00
23,DOUGLASS I/DOUGLASS II,DOUGLASS I BLD 05,82.0 - DOUGLASS I BLD 05,1478392,2014-02-01,2014-01-24,2014-02-25,32.0,0.00,0.0,0.00,85.20,2049.47,-2049.47
24,DOUGLASS I/DOUGLASS II,DOUGLASS I BLD 06,82.0 - DOUGLASS I BLD 06,1478413,2014-02-01,2014-01-24,2014-02-25,32.0,0.00,0.0,0.00,0.00,0.00,0.00
25,DOUGLASS I/DOUGLASS II,DOUGLASS I BLD 06,82.0 - DOUGLASS I BLD 06,1478413,2014-02-01,2014-01-24,2014-02-25,32.0,0.00,0.0,0.00,133.20,3204.10,-3204.10
26,DOUGLASS I/DOUGLASS II,DOUGLASS I BLD 07,82.0 - DOUGLASS I BLD 07,1478415,2014-02-01,2014-01-24,2014-02-25,32.0,0.00,0.0,0.00,0.00,0.00,0.00
27,DOUGLASS I/DOUGLASS II,DOUGLASS I BLD 07,82.0 - DOUGLASS I BLD 07,1478415,2014-02-01,2014-01-24,2014-02-25,32.0,0.00,0.0,0.00,132.72,3192.56,-3192.56
28,DOUGLASS I/DOUGLASS II,DOUGLASS I BLD 08,82.0 - DOUGLASS I BLD 08,1478390,2014-02-01,2014-01-24,2014-02-25,32.0,0.00,0.0,0.00,0.00,0.00,0.00
29,DOUGLASS I/DOUGLASS II,DOUGLASS I BLD 08,82.0 - DOUGLASS I BLD 08,1478390,2014-02-01,2014-01-24,2014-02-25,32.0,0.00,0.0,0.00,79.32,1908.03,-1908.03
30,DOUGLASS I/DOUGLASS II,DOUGLASS I BLD 09,82.0 - DOUGLASS I BLD 09,1478416,2014-02-01,2014-01-24,2014-02-25,32.0,0.00,0.0,0.00,0.00,0.00,0.00
31,DOUGLASS I/DOUGLASS II,DOUGLASS I BLD 09,82.0 - DOUGLASS I BLD 09,1478416,2014-02-01,2014-01-24,2014-02-25,32.0,0.00,0.0,0.00,175.92,4231.73,-4231.73
68,DOUGLASS I/DOUGLASS II,DOUGLASS I BLD 12,82.0 - DOUGLASS I BLD 12,1322194,2014-02-01,2014-01-24,2014-02-25,32.0,0.00,0.0,0.00,0.00,0.00,0.00
69,DOUGLASS I/DOUGLASS II,DOUGLASS I BLD 12,82.0 - DOUGLASS I BLD 12,1322194,2014-02-01,2014-01-24,2014-02-25,32.0,0.00,0.0,0.00,134.64,3238.74,-3238.74

#### remove those rows from the dataset

In [30]:
df = df[~((df['Current Charges'] == 0) & (df['KWH Charges'] == 0) & (df['KW Charges'] == 0) \
  & (df['Other charges'] == 0) & (df['Consumption (KWH)'] == 0) & (df['Consumption (KW)'] == 0))]

In [31]:
idx = df.groupby(['Building ID', 'Meter Number', 'Revenue Month', 'Service Start Date', 'Service End Date']).count()['Account Name'].reset_index()
idx.columns = ['Building ID', 'Meter Number', 'Revenue Month','Service Start Date', 'Service End Date', 'Counts']
idx = idx[idx['Counts'] > 1]

dupRows = idx.sort_values('Counts', ascending = False)

a = pd.merge(dupRows.iloc[:, 0:3], df[cols], on = \
         ['Building ID', 'Meter Number', 'Revenue Month'], how = 'inner')[cols]\
        .sort_values(['Building ID', 'Meter Number', 'Revenue Month'])

#### Only one left, seems a case of rebilling

In [32]:
a

,Account Name,Location,Building ID,Meter Number,Revenue Month,Service Start Date,Service End Date,# days,Current Charges,Consumption (KWH),KWH Charges,Consumption (KW),KW Charges,Other charges
0,THROGGS NECK,BLD 11,63.0 - BLD 11,8125318,2011-10-01,2011-09-22,2011-10-24,32.0,1306.02,12880.0,858.84,0.0,0.0,447.18
1,THROGGS NECK,BLD 11,63.0 - BLD 11,8125318,2011-10-01,2011-09-22,2011-10-24,32.0,2693.18,26560.0,1771.02,0.0,0.0,922.16

### 9. Combine the rows of same Building, Meter and Month

In [33]:
import numpy as np

In [34]:
dfCharges = pd.pivot_table(df, values = ['# days', 'Current Charges','Consumption (KWH)', 'KWH Charges',\
       'Consumption (KW)', 'KW Charges', 'Other charges'], index=['Account Name', 'Location', 'Building ID', 'Meter Number',
       'Revenue Month'], aggfunc = np.sum).reset_index()

dfStartDate = pd.pivot_table(df, values = ['Service Start Date'], index=['Account Name', 'Location', 'Building ID', 'Meter Number',
       'Revenue Month'], aggfunc = np.min).reset_index()

dfEndDate = pd.pivot_table(df, values = ['Service End Date'], index=['Account Name', 'Location', 'Building ID', 'Meter Number',
       'Revenue Month'], aggfunc = np.max).reset_index()

In [35]:
df_combined = pd.merge(dfStartDate, dfEndDate, on = ['Account Name', 'Location', 'Building ID', 'Meter Number',
       'Revenue Month'], how = 'inner')

df_combined = pd.merge(df_combined, dfCharges, on = ['Account Name', 'Location', 'Building ID', 'Meter Number',
       'Revenue Month'], how = 'inner')

In [36]:
df_combined.head()

,Account Name,Location,Building ID,Meter Number,Revenue Month,Service Start Date,Service End Date,# days,Consumption (KW),Consumption (KWH),Current Charges,KW Charges,KWH Charges,Other charges
0,ADAMS,BLD 01,118.0 - BLD 01,7518352,2010-01-01,2009-12-24,2010-01-26,33.0,148.0,84000.0,10314.51,1924.0,4818.24,3572.27
1,ADAMS,BLD 01,118.0 - BLD 01,7518352,2010-02-01,2010-01-26,2010-02-25,30.0,144.0,75200.0,9422.06,1872.0,4313.47,3236.59
2,ADAMS,BLD 01,118.0 - BLD 01,7518352,2010-03-01,2010-02-25,2010-03-26,29.0,136.0,68800.0,8988.12,1768.0,3946.37,3273.75
3,ADAMS,BLD 01,118.0 - BLD 01,7518352,2010-04-01,2010-03-26,2010-04-26,31.0,124.0,68400.0,9146.17,1612.0,3923.42,3610.75
4,ADAMS,BLD 01,118.0 - BLD 01,7518352,2010-05-01,2010-04-26,2010-05-24,28.0,144.0,64800.0,9137.42,1872.0,3716.93,3548.49

### 10. save a copy of the original dataframe

In [37]:
df_orig = df
df = df_combined

### 11. Add new metrics

In [38]:
df['Total Charges'] = df['KW Charges'] + df['KWH Charges']

In [39]:
df['Total Energy Rate'] = df['Total Charges']/df['Consumption (KWH)']

## Q & A:

- why would "Consumption (KW)" be zero?
    KW and KWH should be both positive, unless there are some related bills that already covers it

- What's the "Other Charges"?
    - negative values to adjust for the payments from previous month
    - taxes, fee for meter-reading, little fees charged by utilities and states (e.g. system benefit charge), credit (state got a better deal after charging the clients)

## To Do:

- investigate the zero values in the fields of charges and consumption
    - current charges = 0 and other charges != 0
    - current charges == other charges and current charges != 0
- investigate why (Current Charge) != (KWH charges) + (KW charges) + (Other Charges)
- check if for the same building, meter number varies across different months
- check duplicated bills (can probably detected by variance-checking)
- check rebills
- check gaps in service and whether the union of all the billing window is one-year for each meter
    - start, end dates are useful when there is not a complete month reported (1-3 day gap is okay , 5 days is not)
- anomaly detection of charges & consumptions at the meter level and building level

### 12. Investigate the zero values in the fields of charges and consumption

#### check how much % of rows have zero values in each numeric field4

In [41]:
df[(df['KWH Charges'] == 0) ].shape[0]\
    /df.shape[0]

0.3268528710691575

In [42]:
df[(df['Consumption (KWH)'] == 0)  ].shape[0]\
    /df.shape[0]

0.3244731819729642

In [43]:
df[(df['KW Charges'] == 0) ].shape[0]\
    /df.shape[0]

0.41077155776586394

In [44]:
df[ (df['Consumption (KW)'] == 0) ].shape[0]\
    /df.shape[0]

0.3702495307934145

In [45]:
df[ (df['Current Charges'] == 0) ].shape[0]\
    /df.shape[0]

0.16495878109236045

In [46]:
df[ (df['Other charges'] == 0) ].shape[0]\
    /df.shape[0]

0.11739667556245396

#### check the correlation of numerical fields having zero values

In [40]:
df['KWH_Charge_0'] = df['KWH Charges'] == 0
df['KWH_0'] = df['Consumption (KWH)'] == 0
df['KW_Charge_0'] = df['KW Charges'] == 0
df['KW_0'] = df['Consumption (KW)'] == 0
df['Other_Charge_0'] = df['Other charges'] == 0

In [47]:
df[(df['KWH Charges'] == 0) | (df['Consumption (KWH)'] == 0) \
   | (df['KW Charges'] == 0) | (df['Consumption (KW)'] == 0) ].shape[0]\
    /df.shape[0]

0.7342825692723141

In [48]:
df[((df['KWH Charges'] == 0) ^ (df['Consumption (KWH)'] == 0)) \
   | ((df['KW Charges'] == 0) ^ (df['Consumption (KW)'] == 0)) ].shape[0]\
    /df.shape[0]

0.045190335532203016

In [49]:
df[((df['KWH Charges'] == 0) & (df['Consumption (KWH)'] == 0)) ]\
.groupby(['KWH_Charge_0', 'KWH_0', 'KW_Charge_0', 'KW_0']).agg(['count'])

                                     Account Name Location Building ID  \
                                            count    count       count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
True         True  False       False        81375    81375       81375
                               True            12       12          12
                   True        False          103      103         103
                               True           447      447         447

                                     Meter Number Revenue Month  \
                                            count         count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
True         True  False       False        81375         81375
                               True            12            12
                   True        False          103           103
                               True           447           447

                                     Service Start Date Service End Date  \
                                                  count            count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
True         True  False       False              81375            81375
                               True                  12               12
                   True        False                103              103
                               True                 447              447

                                     # days Consumption (KW)  \
                                      count            count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
True         True  False       False  81375            81375
                               True      12               12
                   True        False    103              103
                               True     447              447

                                     Consumption (KWH) Current Charges  \
                                                 count           count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
True         True  False       False             81375           81375
                               True                 12              12
                   True        False               103             103
                               True                447             447

                                     KW Charges KWH Charges Other charges  \
                                          count       count         count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
True         True  False       False      81375       81375         81375
                               True          12          12            12
                   True        False        103         103           103
                               True         447         447           447

                                     Total Charges Total Energy Rate  \
                                             count             count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
True         True  False       False         81375             81375
                               True             12                12
                   True        False           103                 0
                               True            447                 0

                                     Other_Charge_0
                                              count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
True         True  False       False          81375
                               True              12
                   True        False            103
                               True             447

In [50]:
df[((df['KWH Charges'] == 0) ^ (df['Consumption (KWH)'] == 0)) ]\
.groupby(['KWH_Charge_0', 'KWH_0', 'KW_Charge_0', 'KW_0']).agg(['count'])

                                     Account Name Location Building ID  \
                                            count    count       count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
False        True  False       True             7        7           7
                   True        True             3        3           3
True         False False       False           17       17          17
                   True        False           59       59          59
                               True           535      535         535

                                     Meter Number Revenue Month  \
                                            count         count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
False        True  False       True             7             7
                   True        True             3             3
True         False False       False           17            17
                   True        False           59            59
                               True           535           535

                                     Service Start Date Service End Date  \
                                                  count            count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
False        True  False       True                   7                7
                   True        True                   3                3
True         False False       False                 17               17
                   True        False                 59               59
                               True                 535              535

                                     # days Consumption (KW)  \
                                      count            count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
False        True  False       True       7                7
                   True        True       3                3
True         False False       False     17               17
                   True        False     59               59
                               True     535              535

                                     Consumption (KWH) Current Charges  \
                                                 count           count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
False        True  False       True                  7               7
                   True        True                  3               3
True         False False       False                17              17
                   True        False                59              59
                               True                535             535

                                     KW Charges KWH Charges Other charges  \
                                          count       count         count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
False        True  False       True           7           7             7
                   True        True           3           3             3
True         False False       False         17          17            17
                   True        False         59          59            59
                               True         535         535           535

                                     Total Charges Total Energy Rate  \
                                             count             count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
False        True  False       True              7                 7
                   True        True              3                 3
True         False False       False            17                17
                   True        False            59                59
                               True            535               535

                                     Other_Charge_0
                                              count
KWH_Charge_0 KWH_0 KW_Charge_0 KW_0
False        True  False       True               7
                   True        True               3
True         False False       False             17
                   True        False             59
                               True             535

In [51]:
df[((df['KW Charges'] == 0) & (df['Consumption (KW)'] == 0))]\
.groupby(['KW_Charge_0', 'KW_0', 'KWH_Charge_0', 'KWH_0']).agg(['count'])

                                    Account Name Location Building ID  \
                                           count    count       count
KW_Charge_0 KW_0 KWH_Charge_0 KWH_0
True        True False        False        92211    92211       92211
                              True             3        3           3
                 True         False          535      535         535
                              True           447      447         447

                                    Meter Number Revenue Month  \
                                           count         count
KW_Charge_0 KW_0 KWH_Charge_0 KWH_0
True        True False        False        92211         92211
                              True             3             3
                 True         False          535           535
                              True           447           447

                                    Service Start Date Service End Date  \
                                                 count            count
KW_Charge_0 KW_0 KWH_Charge_0 KWH_0
True        True False        False              92211            92211
                              True                   3                3
                 True         False                535              535
                              True                 447              447

                                    # days Consumption (KW) Consumption (KWH)  \
                                     count            count             count
KW_Charge_0 KW_0 KWH_Charge_0 KWH_0
True        True False        False  92211            92211             92211
                              True       3                3                 3
                 True         False    535              535               535
                              True     447              447               447

                                    Current Charges KW Charges KWH Charges  \
                                              count      count       count
KW_Charge_0 KW_0 KWH_Charge_0 KWH_0
True        True False        False           92211      92211       92211
                              True                3          3           3
                 True         False             535        535         535
                              True              447        447         447

                                    Other charges Total Charges  \
                                            count         count
KW_Charge_0 KW_0 KWH_Charge_0 KWH_0
True        True False        False         92211         92211
                              True              3             3
                 True         False           535           535
                              True            447           447

                                    Total Energy Rate Other_Charge_0
                                                count          count
KW_Charge_0 KW_0 KWH_Charge_0 KWH_0
True        True False        False             92211          92211
                              True                  3              3
                 True         False               535            535
                              True                  0            447

In [52]:
df[((df['KW Charges'] == 0) ^ (df['Consumption (KW)'] == 0))]\
.groupby(['KW_Charge_0', 'KW_0', 'KWH_Charge_0', 'KWH_0']).agg(['count'])

                                     Account Name Location Building ID  \
                                            count    count       count
KW_Charge_0 KW_0  KWH_Charge_0 KWH_0
False       True  False        False          293      293         293
                               True             7        7           7
                  True         True            12       12          12
True        False False        False        10384    10384       10384
                  True         False           59       59          59
                               True           103      103         103

                                     Meter Number Revenue Month  \
                                            count         count
KW_Charge_0 KW_0  KWH_Charge_0 KWH_0
False       True  False        False          293           293
                               True             7             7
                  True         True            12            12
True        False False        False        10384         10384
                  True         False           59            59
                               True           103           103

                                     Service Start Date Service End Date  \
                                                  count            count
KW_Charge_0 KW_0  KWH_Charge_0 KWH_0
False       True  False        False                293              293
                               True                   7                7
                  True         True                  12               12
True        False False        False              10384            10384
                  True         False                 59               59
                               True                 103              103

                                     # days Consumption (KW)  \
                                      count            count
KW_Charge_0 KW_0  KWH_Charge_0 KWH_0
False       True  False        False    293              293
                               True       7                7
                  True         True      12               12
True        False False        False  10384            10384
                  True         False     59               59
                               True     103              103

                                     Consumption (KWH) Current Charges  \
                                                 count           count
KW_Charge_0 KW_0  KWH_Charge_0 KWH_0
False       True  False        False               293             293
                               True                  7               7
                  True         True                 12              12
True        False False        False             10384           10384
                  True         False                59              59
                               True                103             103

                                     KW Charges KWH Charges Other charges  \
                                          count       count         count
KW_Charge_0 KW_0  KWH_Charge_0 KWH_0
False       True  False        False        293         293           293
                               True           7           7             7
                  True         True          12          12            12
True        False False        False      10384       10384         10384
                  True         False         59          59            59
                               True         103         103           103

                                     Total Charges Total Energy Rate  \
                                             count             count
KW_Charge_0 KW_0  KWH_Charge_0 KWH_0
False       True  False        False           293               293
                               True              7                 7
                  True         True             12                12
True        False False        False         10384             10384
                  True         False            59                59
                               True            103                 0

                                     Other_Charge_0
                                              count
KW_Charge_0 KW_0  KWH_Charge_0 KWH_0
False       True  False        False            293
                               True               7
                  True         True              12
True        False False        False          10384
                  True         False             59
                               True             103