In [24]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 2.2.1     ✔ purrr   0.2.5
✔ tibble  2.0.1     ✔ dplyr   0.7.8
✔ tidyr   0.8.2     ✔ stringr 1.3.1
✔ readr   1.3.1     ✔ forcats 0.3.0
Warning message:
“package ‘tibble’ was built under R version 3.5.2”── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [9]:
library(AnomalyDetection)

In [19]:
df = read.csv("/Users/feiwang/Desktop/working/r/NYCHA_TS.csv")

In [20]:
df = df[, c('Building_Meter', 'Month', 'Imputed_KWH')]

In [21]:
str(df)

'data.frame':	212336 obs. of  3 variables:
 $ Building_Meter: Factor w/ 3076 levels "1.0 - BLD 01_7836716",..: 272 272 272 272 272 272 272 272 272 272 ...
 $ Month         : Factor w/ 103 levels "2009-12-01","2010-01-01",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ Imputed_KWH   : num  67835 68283 61071 58011 55164 ...

In [29]:
ts = select(filter(df, Building_Meter == '165.0 - BLD 04_99273488'), 'Month', 'Imputed_KWH')

In [31]:
ts$Month = as.POSIXlt(as.character(df$Month))

In [35]:
ts

    Month      Imputed_KWH
1   2009-12-01 67835.29
2   2010-01-01 68283.03
3   2010-02-01 61071.13
4   2010-03-01 58011.12
5   2010-04-01 55164.05
6   2010-05-01 58416.55
7   2010-06-01 73570.00
8   2010-07-01 96394.14
9   2010-08-01 86422.96
10  2010-09-01 70866.24
11  2010-10-01 61677.04
12  2010-11-01 62892.33
13  2010-12-01 66689.89
14  2011-01-01 63043.77
15  2011-02-01 54303.03
16  2011-03-01 58498.82
17  2011-04-01 56729.05
18  2011-05-01 60781.54
19  2011-06-01 66880.00
20  2011-07-01 84373.33
21  2011-08-01 80538.18
22  2011-09-01 62724.35
23  2011-10-01 59689.85
24  2011-11-01 59723.70
25  2011-12-01 61827.83
26  2012-01-01 62962.76
27  2012-02-01 55190.00
28  2012-03-01 57107.93
29  2012-04-01 54390.07
30  2012-05-01 59741.63
⋮   ⋮          ⋮
74  2016-01-01 64238.92
75  2016-02-01 56807.41
76  2016-03-01 48046.39
77  2016-04-01 55658.93
78  2016-05-01 59909.49
79  2016-06-01 55920.63
80  2016-07-01 87841.14
81  2016-08-01 89296.00
82  2016-09-01 73296.00
83  2016-10-01 62403.31
84  2016-11-01 59910.10
85  2016-12-01 61510.59
86  2017-01-01 61862.86
87  2017-02-01 55587.14
88  2017-03-01 62045.17
89  2017-04-01 57699.31
90  2017-05-01 60737.82
91  2017-06-01 63161.03
92  2017-07-01 79466.67
93  2017-08-01 75955.00
94  2017-09-01 67526.60
95  2017-10-01 63660.22
96  2017-11-01 62469.22
97  2017-12-01 62740.97
98  2018-01-01 64089.38
99  2018-02-01 53328.94
100 2018-03-01 58064.16
101 2018-04-01 57114.85
102 2018-05-01 62730.67
103 2018-06-01 62400.00

In [34]:
raw_data

      timestamp           count
1     1980-09-25 14:01:00 182.478
2     1980-09-25 14:02:00 176.231
3     1980-09-25 14:03:00 183.917
4     1980-09-25 14:04:00 177.798
5     1980-09-25 14:05:00 165.469
6     1980-09-25 14:06:00 181.878
7     1980-09-25 14:07:00 184.502
8     1980-09-25 14:08:00 183.303
9     1980-09-25 14:09:00 177.578
10    1980-09-25 14:10:00 171.641
11    1980-09-25 14:11:00 191.014
12    1980-09-25 14:12:00 184.068
13    1980-09-25 14:13:00 188.457
14    1980-09-25 14:14:00 175.739
15    1980-09-25 14:15:00 175.524
16    1980-09-25 14:16:00 189.128
17    1980-09-25 14:17:00 176.885
18    1980-09-25 14:18:00 167.140
19    1980-09-25 14:19:00 173.723
20    1980-09-25 14:20:00 168.460
21    1980-09-25 14:21:00 177.623
22    1980-09-25 14:22:00 183.888
23    1980-09-25 14:23:00 167.487
24    1980-09-25 14:24:00 165.572
25    1980-09-25 14:25:00 170.480
26    1980-09-25 14:26:00 172.474
27    1980-09-25 14:27:00 166.448
28    1980-09-25 14:28:00 163.098
29    1980-09-25 14:29:00 163.544
30    1980-09-25 14:30:00 163.816
⋮     ⋮                   ⋮
14369 1980-10-05 13:29:00 143.793
14370 1980-10-05 13:30:00 144.078
14371 1980-10-05 13:31:00 158.124
14372 1980-10-05 13:32:00 148.456
14373 1980-10-05 13:33:00 150.201
14374 1980-10-05 13:34:00 147.082
14375 1980-10-05 13:35:00 149.047
14376 1980-10-05 13:36:00 150.593
14377 1980-10-05 13:37:00 144.769
14378 1980-10-05 13:38:00  40.000
14379 1980-10-05 13:39:00 146.894
14380 1980-10-05 13:40:00 151.056
14381 1980-10-05 13:41:00 154.163
14382 1980-10-05 13:42:00 159.555
14383 1980-10-05 13:43:00 157.030
14384 1980-10-05 13:44:00 152.820
14385 1980-10-05 13:45:00 150.708
14386 1980-10-05 13:46:00 151.959
14387 1980-10-05 13:47:00 156.494
14388 1980-10-05 13:48:00 160.798
14389 1980-10-05 13:49:00 155.939
14390 1980-10-05 13:50:00 154.128
14391 1980-10-05 13:51:00 153.938
14392 1980-10-05 13:52:00 151.788
14393 1980-10-05 13:53:00 149.801
14394 1980-10-05 13:54:00 151.492
14395 1980-10-05 13:55:00 151.724
14396 1980-10-05 13:56:00 153.776
14397 1980-10-05 13:57:00 150.481
14398 1980-10-05 13:58:00 146.638

In [38]:
res = AnomalyDetectionTs(ts, max_anoms=0.02, direction='both', plot=TRUE)
res$plot

ERROR: Error in if (data_sigma == 0) break: missing value where TRUE/FALSE needed